
<!-- Breadcrumb Area Start -->
<div class="section breadcrumb-area bg-name-bright">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-wrapper">
                    <h2 class="breadcrumb-title">建立帳號</h2>
                    @*<ul>
                            <li><a href="index.html">Home</a></li>
                            <li>Create Account</li>
                        </ul>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Register Section Start -->
<div class="section section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-8 m-auto">
                <div class="login-wrapper" style="margin-bottom:80px;">

                    <!-- Register Title & Content Start -->
                    <div class="section-content text-center m-b-20">
                        <h2 class="title m-b-10">建立您的 IPET 帳號</h2>
                    </div>
                    <!-- Register Title & Content End -->
                    <!-- Form Action Start -->
                    <form asp-action="Register" id="form" class="form-floating" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <!-- Photo Start -->
                        <div class="col-lg-auto text-center align-items-center">
                            <input class="form-control-file" accept="image/*" type="file" name="Photo" id="Photo" hidden />
                            <a class="btn btn-default" onclick="browsePhoto();">
                                <img src="~/Front/images/register/default/df_1.png" alt="..." name="previewPhoto" id="previewPhoto" class="img-fluid img-thumbnail rounded-circle mx-auto mb-3" style="width:100px; height:100px;" />
                            </a>
                        </div>
                        <!-- Photo End-->
                        <div class="row">
                            <!-- LastName Start -->
                            <div class="col-lg-6">
                                <div class="form-floating single-input-item m-b-10">
                                    <input class="form-control required m-b-10" name="LastName" id="LastName" type="text" placeholder="姓氏">
                                    <label for="LastName">姓氏</label>
                                </div>
                            </div>
                            <!-- LastName End -->
                            <!-- FirstName Start -->
                            <div class="col-lg-6">
                                <div class="form-floating single-input-item m-b-10">
                                    <input class="form-control required m-b-10" name="FirstName" id="FirstName" type="text" placeholder="名字">
                                    <label for="LastName">名字</label>
                                </div>
                            </div>
                            <!-- FirstName End -->
                        </div>
                        <!-- UserId Start -->
                        <div class="row">
                            <div class="col-11"></div>
                            <div class="col-1">
                                <a class="d-flex justify-content-end mb-1 fa fa-exclamation-circle" id="userIdTip"
                                   data-toggle="tooltip" data-placement="auto" title="不含特殊符號且不少於4位的英數字組合">
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="form-floating single-input-item mb-0 justify-content-center align-items-center d-flex">
                                <input class="form-control required m-b-10" oninput="chkUserId()" name="UserId" id="UserId" type="text" placeholder="使用者名稱">
                                <label for="UserId">使用者名稱</label>
                            </div>
                            <!-- userIdAlert -->
                            <div id="userIdAlert" class="d-block col-auto m-b-20 justify-content-start align-items-center d-none">
                                <i class="fa-solid d-none"></i>
                                <b class="d-none"></b>
                            </div>
                        </div>
                        <!-- UserId End -->
                        <!-- Gender Start -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-floating single-input-item m-b-20">
                                    <select class="form-select" name="Gender" id="selgender">
                                        <option selected>請選擇</option>
                                        <option>男</option>
                                        <option>女</option>
                                        <option>不願透露</option>
                                    </select>
                                    <label for="selgender">性別</label>
                                </div>
                            </div>
                            <!-- Gender End -->
                            <!-- BirthDate Start -->
                            <div class="col-lg-6">
                                <div class="form-floating single-input-item m-b-10">
                                    <input class="form-control" name="BirthDate" id="BirthDate" type="date" placeholder="您的出生日期">
                                    <label for="BirthDate">您的出生日期</label>
                                </div>
                            </div>
                            <!-- BirthDate End -->
                        </div>
                        <!-- Email Start -->
                        <div class="row">
                            <div class="col-11"></div>
                            <div class="col-1">
                                <a class="d-flex justify-content-end mb-1 fa fa-exclamation-circle" id="emailTip"
                                   data-toggle="tooltip" data-placement="right" title="含有＠符號的Email地址">
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="form-floating single-input-item m-b-5">
                                <input class="form-control" oninput="chkEmail()" name="Email" id="Email" type="email" placeholder="您的電子郵件地址">
                                <label for="Email">您的電子郵件地址</label>
                            </div>
                            <!-- emailAlert -->
                            <div id="emailAlert" class="d-block col-auto m-b-5 justify-content-start align-items-center d-none">
                                <i class="fa-solid d-none"></i>
                                <b class="d-none"></b>
                            </div>
                        </div>
                        <!-- Email End -->
                        <div class="row">
                            <div class="col-11"></div>
                            <div class="col-1">
                                <a class="d-flex justify-content-end mb-1 fa fa-exclamation-circle" id="userIdTip"
                                   data-toggle="tooltip" data-placement="auto" title="兩端密碼需相同">
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <!-- CurrentPwd Start -->
                                <div class="col-lg-6">
                                    <div class="form-floating single-input-item m-b-5">
                                        <input class="form-control" oninput="chkPassword()" name="NewPwd" id="NewPwd" type="password" placeholder="密碼">
                                        <label for="NewPwd">密碼</label>
                                    </div>
                                </div>
                                <!-- CurrentPwd End -->
                                <!-- ConfirmPwd Start -->
                                <div class="col-lg-6">
                                    <div class="form-floating single-input-item m-b-10">
                                        <input class="form-control" oninput="chkPassword()" name="ConfirmPwd" id="ConfirmPwd" type="password" placeholder="確認">
                                        <label for="ConfirmPwd">確認</label>
                                    </div>
                                </div>
                                <!-- ConfirmPwd End -->
                            </div>
                            <!-- passwordAlert -->
                            <div id="passwordAlert" class="d-block col-auto m-b-10 justify-content-start align-items-center d-none">
                                <i class="fa-solid d-none"></i>
                                <b class="d-none"></b>
                            </div>
                        </div>
                        <!-- Phone Start -->
                        <div>
                            <div class="form-floating single-input-item m-b-15">
                                <input class="form-control" oninput="chkPhone()" name="Phone" id="Phone" type="text" placeholder="電話號碼">
                                <label for="Phone">手機</label>
                            </div>
                            <!-- phoneAlert -->
                            <div id="phoneAlert" class="d-block col-auto m-b-10 justify-content-start align-items-center d-none">
                                <i class="fa-solid d-none"></i>
                                <b class="d-none"></b>
                            </div>
                        </div>
                        <!-- Phone End -->
                        <div class="row">
                            <!-- City Start -->
                            <div class="col-lg-6">
                                <a class="d-flex justify-content-end mb-1"></a>
                                <div class="form-floating single-input-item m-b-25">
                                    <select class="form-select" name="City" id="selcity"><option>請選擇</option></select>
                                    <label for="selcity">縣市</label>
                                </div>
                            </div>
                            <!-- City End -->
                            <!-- Region Start -->
                            <div class="col-lg-6">
                                <a class="d-flex justify-content-end mb-1"></a>
                                <div class="form-floating single-input-item m-b-25">
                                    <select class="form-select" name="Region" id="selregion"><option>請選擇</option></select>
                                    <label for="selregion">區</label>
                                </div>
                            </div>
                            <!-- Region End -->
                        </div>
                        <!-- Address Start -->
                        <div class="row">
                            <div class="col-11"></div>
                            <div class="col-1">
                                <a class="d-flex justify-content-end mb-1 fa fa-exclamation-circle" id="phoneTip"
                                   data-toggle="tooltip" data-placement="auto" title="結帳後需寄送到您的地址">
                                </a>
                            </div>
                        </div>
                        <a class="d-flex justify-content-end mb-1"></a>
                        <div class="form-floating single-input-item m-b-25">
                            <input class="form-control" name="Address" id="Address" type="text" placeholder="地址">
                            <label for="Address">地址</label>
                        </div>
                        <!-- Address End -->
                        <!-- Button/Forget Password Start -->
                        <a class="d-flex justify-content-end mb-1"></a>
                        <div class="single-input-item">
                            <div class="login-reg-form-meta m-b-n15">
                                <input type="button" onclick="chkform()" value="創建" class="btn btn btn-gray-deep btn-hover-primary m-b-15" />
                            </div>
                        </div>
                        <!-- Button/Forget Password End -->
                    </form>
                    <!-- Form Action End -->

                    <div class="mt-5">
                        <input type="button" class="btn btn btn-gray-deep btn-hover-primary" onclick="demo()" name="demo" value="Demo" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Section End -->


@section Scripts
{
    <script>
        let userId = $('input[name="UserId"]');
        let email = $('input[name="Email"]');
        let newpwd = $('input[name="NewPwd"]');
        let confirmpwd = $('input[name="ConfirmPwd"]');
        let phone = $('input[name="Phone"]');

        let flagUserId = false;
        let flagEmail = false;
        let flagPassword = false;
        let flagPhone = false;

        async function chkUserId() {
            await $.post('@Url.Content("~/MembersApi/chkIdRepetition")',
                { UserId: userId.val() },
                function (response) {
                    if (response == "true") {
                        flagUserId = true;
                        //console.log("true");
                        $("#userIdAlert").removeClass("d-none").css("color","forestgreen")
                            .children("i").removeClass("d-none fa-circle-xmark").addClass("fa-circle-check").end()
                            .children("b").removeClass("d-none").text("此帳號可以使用");
                    }
                    else {
                        /*console.log("false");*/
                        flagUserId = false;
                        $("#userIdAlert").removeClass("d-none").css("color", "crimson")
                            .children("i").removeClass("d-none fa-circle-check").addClass("fa-circle-xmark").end()
                            .children("b").removeClass("d-none").text("請符合帳號使用規則");
                    }
                })
        }

        async function chkEmail() {
           await $.post('@Url.Content("~/MembersApi/chkemailRepetition")',
                { Email: email.val() },
                function (response) {
                    if (response == "true") {
                        flagEmail = true;
                        //console.log("true");
                        $("#emailAlert").removeClass("d-none").css("color","forestgreen")
                            .children("i").removeClass("d-none fa-circle-xmark").addClass("fa-circle-check").end()
                            .children("b").removeClass("d-none").text("此Email可以使用");
                    }
                    else {
                        flagEmail = false;
                        //console.log("false");
                        $("#emailAlert").removeClass("d-none").css("color", "crimson")
                            .children("i").removeClass("d-none fa-circle-check").addClass("fa-circle-xmark").end()
                            .children("b").removeClass("d-none").text("請符合通用Email格式");
                    }
                })
        }

        async function chkPassword() {
            await $.post('@Url.Content("~/MembersApi/chkpasswordRepetition")',
                { NewPwd: newpwd.val(), ConfirmPwd: confirmpwd.val()},
                function (response) {
                    if (response == "true") {
                        flagPassword = true;
                        //console.log("true");
                        $("#passwordAlert").removeClass("d-none").css("color","forestgreen")
                            .children("i").removeClass("d-none fa-circle-xmark").addClass("fa-circle-check").end()
                            .children("b").removeClass("d-none").text("此密碼可以使用");
                    }
                    else {
                        flagPassword = false;
                        //console.log("false");
                        $("#passwordAlert").removeClass("d-none").css("color", "crimson")
                            .children("i").removeClass("d-none fa-circle-check").addClass("fa-circle-xmark").end()
                            .children("b").removeClass("d-none").text("兩端密碼不相同，請再作確認");
                    }
                })
        }

        async function chkPhone() {
            await $.post('@Url.Content("~/MembersApi/chkphoneRepetition")',
                { Phone: phone.val() },
                function (response) {
                    if (response == "true") {
                        flagPhone = true;
                        //console.log("true");
                        $("#phoneAlert").removeClass("d-none").css("color","forestgreen")
                            .children("i").removeClass("d-none fa-circle-xmark").addClass("fa-circle-check").end()
                            .children("b").removeClass("d-none").text("電話格式正確");
                    }
                    else {
                        flagPhone = false;
                        //console.log("false");
                        $("#phoneAlert").removeClass("d-none").css("color", "crimson")
                            .children("i").removeClass("d-none fa-circle-check").addClass("fa-circle-xmark").end()
                            .children("b").removeClass("d-none").text("請輸入您的手機號碼");
                    }
                })
        }

        async function chkform() {
            await $.post('@Url.Content("~/Empty_Signup/chkFlag")',
                { FlagUserId: flagUserId, FlagEmail: flagEmail, FlagPassword: flagPassword, FlagPhone: flagPhone },
                function (response) {
                    if (response == "true") {
                        //console.log("true");
                        $("#form").submit();
                    }
                    else {
                        //console.log("false");
                        alert("尚未填寫完成")
                        userId.on("onblur", chkUserId());
                        email.on("onblur", chkEmail());
                        newpwd.on("onblur", chkPassword());
                        confirmpwd.on("onblur", chkPassword());
                        phone.on("onblur", chkPhone());
                    }
                }
            )

        }

        function browsePhoto() {
            $("#Photo").trigger("click");
        }
        Photo.onchange = evt => {
            const [file] = Photo.files;
            if (file)
                previewPhoto.src = URL.createObjectURL(file);
        }

        let city = $("#selcity");
        let region = $("#selregion");

    (async function loadAddress() {
        //載入縣市
        let cityResponse = await fetch("@Url.Content("~/MembersApi/City")");
        renderCity(await cityResponse.json());
        //載入鄉鎮區
        let cityname = $("#selcity option:selected").val();
        let regionResponse = await fetch("@Url.Content("~/MembersApi/Region")?cityname=" + cityname);
        renderRegion(await regionResponse.json());
    })();

        city.change(async () => {
            let cityname = $("#selcity option:selected").val();
            let regionResponse = await fetch("@Url.Content("~/MembersApi/Region")?cityname=" + cityname);
            renderRegion(await regionResponse.json());
        })

    function renderCity(datas) {
        datas.forEach(item => {
            let opt = new Option(item.cityName, item.cityName);
            city.append(opt);
        })
        }
        function renderRegion(datas) {
            if (region.length > 0)
                region.empty(region.length-1);
            datas.forEach(item => {
                let opt = new Option(item.regionName, item.regionName);
                region.append(opt);
            })
        }

        function demo() {
            $('input[name="LastName"]').val("Mary");
            $('input[name="FirstName"]').val("");
            $('input[name="UserId"]').val("accoutfortest");
            $('select[name="Gender"]').val("不願透露");
            $('input[name="BirthDate"]').val("2001-01-01");
            $('input[name="Email"]').val("accoutforsendmail@gmail.com");
            $('input[name="NewPwd"]').val("tEST01");
            $('input[name="ConfirmPwd"]').val("tEST01");
            $('input[name="Phone"]').val("0912345678");
            $('input[name="Address"]').val("復興南路一段390號2樓");

            userId.on("onblur", chkUserId());
            email.on("onblur", chkEmail());
            newpwd.on("onblur", chkPassword());
            confirmpwd.on("onblur", chkPassword());
            phone.on("onblur", chkPhone());
        }
    </script>
}