@model Project_IPET.Models.OrderModel

@{
    int count = 0;
    foreach (var item in Model.OrderItem)
    {
        count++;
        <a id="category_@count" style="visibility:hidden">@item.Category</a>
    }
}

<!-- Breadcrumb Area Start -->
<div class="section breadcrumb-area bg-name-bright">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-wrapper">
                    <h2 class="breadcrumb-title">結帳</h2>
                    <ul>
                        <li>
                            <a asp-controller="Front_Home">IPET 寵物店</a>
                        </li>
                        <li>結帳頁面</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Checkout Section Start -->
<form asp-action="CreateOrder" onsubmit="return check_select()">
    <div class="section section-margin">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Coupon Accordion Start -->
                    <div class="coupon-accordion">

                        <!-- Title Start -->
                        <h3 class="title">
                            擁有優惠券嗎?
                            <span id="showcoupon">點擊輸入優惠代碼</span>
                        </h3>
                        <!-- Title End -->
                        <!-- Checkout Coupon Start -->
                        <div id="checkout_coupon" class="coupon-checkout-content">
                            <div class="coupon-info">
                                <p class="checkout-coupon d-flex">
                                    <input placeholder="優惠券代碼" type="text">
                                    <input class="btn btn-primary btn-hover-dark rounded-0" value="確認優惠" type="submit">
                                </p>
                            </div>
                        </div>
                        <!-- Checkout Coupon End -->

                    </div>
                    <!-- Coupon Accordion End -->
                </div>
            </div>
            <div class="row m-b-n20">
                <div class="col-lg-6 col-12 m-b-20">

                    <!-- Checkbox Form Start -->
                    <div class="checkbox-form">

                        <!-- Checkbox Form Title Start -->
                        <h3 class="title">填寫訂單資料</h3>
                        <!-- Checkbox Form Title End -->

                        <div class="row">

                            <!-- Select Country Name Start -->
                            <div style="display:flex; justify-content:flex-start;">
                                <div class="col-md-6 m-b-40">
                                    <div class="country-select">
                                        <label>交易模式 : </label>
                                        <select width="270" style="text-align-last:center;width: 270px" class="myniceselect nice-select rounded-0" id="selectTransaction" name="TransactionOption">
                                            <option data-display="請選擇">請選擇</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 m-b-40" style="margin-left:15px;">
                                    <div class="country-select" id="donateblock">
                                    </div>
                                </div>
                            </div>
                            <!-- Select Country Name End -->
                            <!-- Name Input Start -->
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>姓名 :</label>
                                    <input placeholder="請輸入姓名" type="text" name="OrderName">
                                </div>
                            </div>
                            <!-- Name Input End -->
                            <!-- Phone Number Input Start -->
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>電話 :</label>
                                    <input placeholder="請輸入電話" type="text" name="OrderPhone">
                                </div>
                            </div>
                            <!-- Phone Number Input End -->
                            <!-- Address Input Start -->
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>地址 :</label>
                                    <input placeholder="請輸入地址" type="text" id="inputAddress" name="OrderAddress">
                                </div>
                            </div>
                            <!-- Address Input End -->
                        </div>
                    </div>
                    <!-- Checkbox Form End -->
                </div>

                <div class="col-lg-6 col-12 m-b-20">

                    <!-- Your Order Area Start -->
                    <div class="your-order-area border">

                        <!-- Title Start -->
                        <h3 class="title">您的訂單明細</h3>
                        <!-- Title End -->
                        <!-- Your Order Table Start -->
                        <div class="your-order-table table-responsive">
                            <table class="table">

                                <!-- Table Head Start -->
                                <thead>
                                    <tr class="cart-product-head">
                                        <th class="cart-product-name text-start">商品明細 :</th>
                                        <th class="cart-product-total text-end">總計</th>
                                    </tr>
                                </thead>
                                <!-- Table Head End -->
                                <!-- Table Body Start -->
                                <tbody>
                                    @foreach (var item in Model.OrderItem)
                                    {
                                        <tr class="cart_item">
                                            <td class="cart-product-name text-start ps-0">
                                                @item.Product.ProductName
                                                <strong class="product-quantity"> × @item.Quantity</strong>
                                            </td>
                                            <td class="cart-product-total text-end pe-0">
                                                <span class="amount">$@item.SubTotal</span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <!-- Table Body End -->
                                <!-- Table Footer Start -->
                                <tfoot>
                                    <tr class="cart-subtotal">
                                        <th class="text-start ps-0">購物車總金額</th>
                                        <td class="text-end pe-0">
                                            <span class="amount">$@Model.CartTotal</span>
                                        </td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th class="text-start ps-0">運費</th>
                                        <td class="text-end pe-0">
                                            <span class="amount">$@Model.Frieght</span>
                                        </td>
                                    </tr>
                                    <tr class="order-total">
                                        <th style="font-weight:bold;" class="text-start ps-0">訂單總金額</th>
                                        <td class="text-end pe-0">
                                            <strong><span class="amount">$@Model.OrderTotal</span></strong>
                                        </td>
                                    </tr>
                                </tfoot>
                                <!-- Table Footer End -->

                            </table>
                        </div>
                        <!-- Your Order Table End -->
                        <!-- Payment Accordion Order Button Start -->
                        <div class="payment-accordion-order-button">
                            <div class="order-button-payment">
                                <button type="submit" class="btn btn-primary btn-hover-dark rounded-0 w-100">確 認 結 帳</button>
                            </div>
                        </div>
                        <!-- Payment Accordion Order Button End -->
                    </div>
                    <!-- Your Order Area End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout Section End -->
</form>



@section Scripts{
    <script>

        const selTrans = document.querySelector('#selectTransaction');
        var msg = document.querySelector("a#category_"+@Model.OrderItem.Count).innerHTML;

        $(document).ready(function () {
            $.get("API/GetFoundationAddress", function (data) {
                if (msg == "捐贈商品") {
                    $('#inputAddress').val(data);
                }
            });
        });

        function check_select(form) {
                $("#selectTransaction").removeAttr("disabled");
                $("#selectFoundation").removeAttr("disabled");
                return true;
            }

        (async function () {

            if (msg == "捐贈商品") {

                    $("#donateblock").append('<div id="donateoptions">'
                        + '<label>選擇捐贈單位 : </label>'
                        + '<select width="270" style="text-align-last:center; width: 270px" class="myniceselect nice-select rounded-0" id="selectFoundation" name="FoundationOption"> '
                        + '<option data-display="請選擇">請選擇</option>'
                        + '</select>'
                        + '</div>');

                    $('#selectTransaction').prop('disabled', 'disabled');
                    $('#selectFoundation').prop('disabled', 'disabled');

                     const FoundationResponse = await fetch("@Url.Content("~/API/ReadFoundation")")
                     renderFoundation(await FoundationResponse.json());


                    function renderFoundation(datas) {
                        datas.forEach(item => {
                            opt = new Option(item.foundationName, item.foundationId);
                            $("#selectFoundation").append(opt);
                        });


                        $.get("API/GetFoundationId", function (data) {
                            var i = null;
                            var obj = document.querySelector('#selectFoundation');
                            for (i = 0; i < obj.options.length; i++) {
                                if (obj.options[i].value == data) {
                                    obj.selectedIndex = i;
                                }
                            }
                        });

                        $.each($('#selectFoundation > option:not(:disabled)'), function (index, item) {
                            $(item).attr('data-address', datas[index].foundationAddress);
                        });
                    };
                }
                else {
               $("#selectTransaction").change(async function () {
                if ($('#selectTransaction').val() == '2') {

                    $("#donateblock").append('<div id="donateoptions">'
                        + '<label>選擇捐贈單位 : </label>'
                        + '<select width="270" style="text-align-last:center; width: 270px" class="myniceselect nice-select rounded-0" id="selectFoundation" name="FoundationOption"> '
                        + '<option data-display="請選擇">請選擇</option>'
                        + '</select>'
                        + '</div>');

                    disableFirstOption();

                     const FoundationResponse = await fetch("@Url.Content("~/API/ReadFoundation")")
                     renderFoundation(await FoundationResponse.json());


                    function renderFoundation(datas) {
                        datas.forEach(item => {
                            opt = new Option(item.foundationName, item.foundationId);
                            $("#selectFoundation").append(opt);
                        });

                        $.each($('#selectFoundation > option:not(:disabled)'), function (index, item) {
                            $(item).attr('data-address', datas[index].foundationAddress);
                        });
                    };
                    $('#selectFoundation').change(function (e) {
                        var element = $(this).find('option:selected');
                        var address = element.data("address");
                        $('#inputAddress').val(address);
                    });
                }
                else if ($('#selectTransaction').val() == '1') {
                    $('#donateoptions').remove();
                    $('#inputAddress').val('');
                     }
                   });
                }
         })();


    (async function LoadOption() {

        const TransactionResponse = await fetch("@Url.Content("~/API/ReadTransaction")")
        renderTransaction(await TransactionResponse.json());

        disableFirstOption();

        if (msg == "捐贈商品") {
            var i = null;
            var obj = document.querySelector("#selectTransaction");
            for (i = 0; i < obj.options.length; i++) {
                if (obj.options[i].value == 2) {
                    obj.selectedIndex = i;
                    return;
                }
            }
        }

        })();

        function renderTransaction(datas) {
        datas.forEach(item => {
            const opt = new Option(item.transactionTypeName, item.transactionTypeId);
            selTrans.options.add(opt);
        })
            }

        function disableFirstOption() {
            $('.myniceselect option:nth-child(1)').prop('disabled', true);
        }

    </script>
}