@model Project_IPET.ViewModels.CProjectDetailViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "_FrontLayout";
}
<!-- Breadcrumb Area Start -->
<div class="section breadcrumb-area bg-name-bright">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-wrapper">
                    <h2 class="breadcrumb-title">募集專案</h2>
                    <ul>
                        <li><a href="index">專案清單</a></li>
                        <li>@Model.fTitle</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->

<!-- MainPage Area Start -->
<div class="container" style="font-family: 微軟正黑體, Arial">
    <div class="row" style="justify-content: space-around">
        <!--上方主要資訊-->
        <div class="row" style="margin-bottom:20px">
            <!--左上大圖-->
            <div class="col-md-9">
                <img src="~/Front/images/project/@Model.fPrjImage" style="max-width: 838px; height: 530px;">
            </div>
            <!--左上大圖-->
            <!--右上進度-->
            <div class="col-md-3" style="border:1px solid black;right:0">
                <div style="position:absolute">
                    <div style="position:relative;top:30px">
                        <label style="display:none" id="fId">@Model.fId</label>
                        <label style="color: #666; font-size: 20px; font-weight: 900">專案名稱:</label><br />
                        <label style="font-size: 30px; color: #f6ab49; font-weight: 900">@Model.fTitle</label><br />
                    </div>
                    <div style="position: relative;top:120px">
                        <div>
                            <label style="color: #666; font-size: 16px; font-weight: 900">專案完成度：</label><br />
                            <label id="persent" style="font-size: 35px; color: #f6ab49; font-weight: 900">35%</label><br />
                            <div class="progress">
                                <div id="nowbar" class="progress-bar-striped bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div style="position: relative;top:200px">
                        <ul>
                            <li style="font-size: 35px; color: #f6ab49; font-weight: 900">@Model.fDeadline <span style="color: #666; font-size: 16px;">天後結束</span></li>
                            <li style="font-size: 35px; color: #f6ab49; font-weight: 900" id="peoplecount"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--右上進度-->
        </div>
        <!--上方主要資訊-->
        <!--左邊專案內容-->
        <div class="col-md-2" style="color: #666; font-size: 16px; margin-bottom:4px">&diams; 主辦方: IPET寵物店</div>
        <div class="col-md-2" style="color: #666; font-size: 16px; margin-bottom: 4px">&diams; 捐贈單位: @Model.fFoundation</div>
        <div class="col-md-8" style="color: #666; font-size: 16px; margin-bottom: 4px">&diams; 時程: @Model.fStart ~ @Model.fEnd</div>
        <div class="col-md-9">
            <!--選單-->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">專案計畫</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">贊助者名單</button>
                </li>
            </ul>
            <!--選單-->
            <!--選單內容-->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div id="content">
                        我們是IPET， 是由一群年輕人對於浪孩最純真的關懷和照顧集結社會上有能力的人<br>
                        透過狗糧支持私人狗園能有生存下去的能力， 祈願能帶給浪孩一點溫暖 ♡<br>
                        吃飯看似稀鬆平常的事情<br>
                        但對牠們來說卻是如此奢侈<br>
                        永遠記得第一次與狗園園長見面<br>
                        那次的交談,從他的眼神跟談吐中<br>
                        滿滿的全部都是對浪浪愛與不捨<br>
                        將自己的一生付諸於狗園，一投入就是60個年頭<br>
                        園長常說： 我們得到的是牠們用眼神的感謝<br>
                        這些年的無私付出相信毛孩們也都能感受的到<br>
                    </div>
                    <img src="~/Front/images/project/2.jpg" style="width:800px">
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <table class="table table-bordered" style="text-align:center;">
                        <tbody id="buylist">
                        </tbody>
                    </table>
                </div>
            </div>
            <!--選單內容-->
        </div>
        <!--左邊專案內容-->
        <!--商品一號-->
        <div class="col-md-3" id="prodlist">
            <label style="color: #666; font-size: 20px; font-weight: 900">專案商品列表:</label><br />
            @*@for (int i = 0; i < 1; i++)
            {
                string prdid = "prd" + i;
                <div class="action quickview product" data-bs-toggle="modal" data-bs-target="#prodmodal" title="Quickview" style="margin-bottom: 10px; border: 2px solid #f6ab49;">
                    <div class="product-inner" style="padding:5px">
                        <div class="thumb">
                            <a class="image">
                                <img class="fit-image" src="~/Front/images/project/3.jpg" alt="Product" />
                            </a>
                        </div>
                        <span style="font-size:12px">剩餘數量: <span style="color: #f6ab49;font-weight:800">10</span></span>
                        <hr style="margin:2px" />
                        <div class="content">
                            <h5 class="title">Pet Food Corner</h5>
                            <span class="price">
                                <span class="new">$105.00</span>
                            </span>
                        </div>
                    </div>
                </div>
            }*@
            <!--Model開始-->
            <!--id為 prd編號-->
            <div class="modalquickview modal fade" id="prodmodal" tabindex="-1" aria-labelledby="quick-view" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <button class="btn close" data-bs-dismiss="modal">×</button>
                        <div class="row">
                            <div class="col-md-6 col-12">

                                <!-- Product Details Image Start -->
                                <div class="modal-product-carousel">

                                    <!-- Single Product Image Start -->
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper" id="piclist">
                                            @*<a class="swiper-slide" href="#">
                                                <img class="w-100" alt="Product">
                                            </a>*@
                                        </div>

                                        <!-- Swiper Pagination Start -->
                                        <!-- <div class="swiper-pagination d-md-none"></div> -->
                                        <!-- Swiper Pagination End -->
                                        <!-- Next Previous Button Start -->
                                        @*<div class="swiper-product-button-next swiper-button-next"><i class="ti-arrow-right"></i></div>
                                        <div class="swiper-product-button-prev swiper-button-prev"><i class="ti-arrow-left"></i></div>*@
                                        <!-- Next Previous Button End -->
                                    </div>
                                    <!-- Single Product Image End -->

                                </div>
                                <!-- Product Details Image End -->

                            </div>
                            <div class="col-md-6 col-12 overflow-hidden position-relative">

                                <!-- Product Summery Start -->
                                <div class="product-summery position-relative">

                                    <!-- Product Head Start -->
                                    <div class="product-head m-b-15">
                                        <h2 class="product-title" id="PTitle">@*商品名稱*@</h2>
                                    </div>
                                    <!-- Product Head End -->
                                    <!-- Rating Start -->
                                    @*<span class="rating justify-content-start m-b-10">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>*@
                                    <!-- Rating End -->
                                    <!-- Price Box Start -->
                                    <div class="price-box m-b-10">
                                        <span class="regular-price" id="PPrice">@*商品價格*@</span>
                                    </div>
                                    <!-- Price Box End -->
                                    <!-- Product Inventory Start -->
                                    <div class="product-inventroy m-b-15">
                                        <span class="inventroy-title"> <strong>剩餘數量:</strong></span>
                                        <span class="inventory-varient" id="PStock">@*商品庫存*@</span>
                                    </div>
                                    <!-- Product Inventory End -->
                                    <!-- Description Start -->
                                    <p class="desc-content m-b-25" id="PDes">@*商品描述*@</p>
                                    <!-- Description End -->
                                    <!-- Quantity Start -->
                                    <div class="quantity d-flex align-items-center justify-content-start m-b-25">
                                        <span class="m-r-10"><strong>數量: </strong></span>
                                        <form method="post" action="~/Front_Cart/AddToCart">
                                            <div>
                                                <input name="id" type="hidden" id="prdid" />
                                                <input name="qty" class="cart-plus-minus-box" value="1" type="number" id="selectQty">
                                                @*<div class="dec qtybutton"></div>
                                                <div class="inc qtybutton"></div>*@
                                            </div>
                                            <!-- Cart Button Start -->
                                            <div class="cart-btn action-btn m-b-30" style="bottom:10px;position:absolute;">
                                                <div class="action-cart-btn-wrapper d-flex justify-content-start">
                                                    <div class="add-to_cart">
                                                        <input type="submit" id="addtocart" class="btn btn-primary btn-hover-dark rounded-0" value="加入購物車" />
                                                    </div>
                                                    <a href="wishlist.html" title="Wishlist" class="action"><i class="ti-heart"></i></a>
                                                </div>
                                            </div>
                                            <!-- Cart Button End -->
                                        </form>
                                    </div>
                                    <!-- Quantity End -->
                                </div>
                                <!-- Product Summery End -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Model結束-->
        </div>
        <!--商品一號end-->

    </div>
</div>
<!-- MainPage Area End -->


@section Scripts{ 
    <script>
        var id = document.getElementById("fId").innerHTML;
        var list = document.getElementById("buylist");
        var prodlist = document.getElementById("prodlist");

        LoadContent();
        LoadPercent();
        LoadCount();
        LoadList();
        LoadProd();

        async function LoadContent() {
            const Contentrespnose = await fetch("@Url.Content("~/Front_Project/readContent?Id=")" + id)
            renderContent(await Contentrespnose.json());
        }
        function renderContent(data) {
            $("#content").html(data)
        }

        async function LoadPercent() {
            const Percentrespnose = await fetch("@Url.Content("~/Front_Project/readPercent?Id=")" + id)
            renderPercent(await Percentrespnose.json());
        }
        function renderPercent(data){
            $("#persent").html(`${data}%`);
            $("#nowbar").attr("aria-valuenow", data).css("width",`${data}%`);
        }

        async function LoadCount() {
            const Countresponse = await fetch("@Url.Content("~/Front_Project/readCount?Id=")" + id)
            renderCount(await Countresponse.json());
        }
        function renderCount(data) {
            $("#peoplecount").html(`${data}<span style="color: #666; font-size: 16px;">人參與</span>`);
        }

        async function LoadList() {
            const Listresponse = await fetch("@Url.Content("~/Front_Project/readList?Id=")" + id)
            renderList(await Listresponse.json());
        }
        function renderList(data) {
            data.forEach((item) => {
                var tr = document.createElement("tr");
                var tdname = document.createElement("td");
                tdname.innerHTML = replacestr(item.userName,1,"*");
                var tdprod = document.createElement("td");
                tdprod.innerHTML = item.productName;
                tr.append(tdname, tdprod);
                list.append(tr);
            })
        }
        function replacestr(str, index, char){
            return str.substring(0, index) + char + str.substring(index + 1);
        }

        async function LoadProd() {
            const Prodresponse = await fetch("@Url.Content("~/Front_Project/readProd?Id=")" + id)
            renderProd(await Prodresponse.json());
        }
        function renderProd(data) {
            data.forEach((item) => {
                var contain = document.createElement("div");
                contain.className = "action quickview product";
                contain.title = "Quickview";
                contain.style = "margin-bottom: 10px; border: 2px solid #f6ab49;";
                contain.setAttribute("data-bs-toggle", "modal");
                contain.setAttribute("data-bs-target", "#prodmodal");

                var fid = document.createElement("p");
                fid.innerHTML = item.fId;
                fid.style.display = "none";

                var inner = document.createElement("div");
                inner.className = "product-inner";
                inner.style = "padding:5px";

                var thumb = document.createElement("div");
                thumb.className = "thumb";
                var imga = document.createElement("a");
                imga.className = "image";
                var img = document.createElement("img");
                img.className = "fit-image";
                img.alt = item.fName;
                img.src = `/Front_Project/takeProdpic?Id=${item.fId}`;
                imga.append(img);
                thumb.append(imga);

                var quantity = document.createElement("span");
                quantity.style = "font-size:12px";
                quantity.innerHTML = "剩餘數量: ";
                var prodcount = document.createElement("span");
                prodcount.style = "color: #f6ab49;font-weight:800";
                prodcount.innerHTML = item.fQuantity;
                quantity.append(prodcount);

                var hr = document.createElement("hr");
                hr.style = "margin:2px";

                var content = document.createElement("div");
                content.className = "content";
                var title = document.createElement("h5");
                title.className = "title";
                title.innerHTML = item.fName;
                var price = document.createElement("span");
                price.className = "price";
                var priceinner = document.createElement("span");
                priceinner.className = "new";
                priceinner.innerHTML = `$${item.fPrice}`;
                price.append(priceinner);
                content.append(title, price);

                inner.append(thumb, quantity, hr, content);
                contain.append(fid,inner);
                prodlist.append(contain);
            })
        }
        $("#prodlist").on('click', 'div.quickview',async function () {
            var fId = $(this).children(":first").text();
            const Detailresponse = await fetch("@Url.Content("~/Front_Project/readProdDetail?Id=")" + fId)
            renderDetail(await Detailresponse.json());
        })
        function renderDetail(data) {
            var imga = document.createElement("a");
            imga.className = "swiper-slide";
            var img = document.createElement("img");
            img.className = "w-100";
            img.alt = data[0].name;
            img.src = `/Front_Project/takeProdpic?Id=${data[0].id}`;
            imga.append(img);
            var piclist = document.getElementById("piclist");
            piclist.innerHTML = "";
            piclist.append(imga);

            $("#prdid").attr("value",data[0].id);
            $("#selectQty").val("1").attr("max", data[0].stock).attr("min", "1");
            $("#PTitle").html(data[0].name)
            $("#PPrice").html(`$NT ${data[0].price}`)
            $("#PStock").html(data[0].stock)
            $("#PDes").html(data[0].des)
        }
    </script>
}