

@{ ViewData["Title"] = "會員管理"; }

<div class="row mb-3 mt-1">
    <div class="col-lg-4 d-flex align-items-center justify-content-start">
        <div class="nav-wrapper position-relative end-0">
            <ul class="nav nav-pills nav-fill p-1" role="tablist">
                <li class="nav-item" style="padding-right:10px">
                    <a class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="#profile-tabs-icons" role="tab" aria-controls="preview" aria-selected="true">
                        <span class="material-icons align-middle mb-1">
                            info
                        </span>
                        Info
                    </a>
                </li>
                <li class="nav-item" style="padding-right:5px">
                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#dashboard-tabs-icons" role="tab" aria-controls="code" aria-selected="false">
                        <span class="material-icons align-middle mb-1">
                            account_box
                        </span>
                        Details
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-3 d-flex align-items-center justify-content-start">
        <div class="form-check form-switch" style="padding-right:20px">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="maleFilter">
            <label class="form-check-label" for="flexSwitchCheckChecked">男</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="femaleFilter">
            <label class="form-check-label" for="flexSwitchCheckChecked">女</label>
        </div>
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-2 d-flex align-items-center justify-content-end">
            <div class="input-group input-group-outline">
                <label class="form-label">Search……</label>
                <input name="txtKeyword" value="" type="text" class="form-control">
            </div>
        </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">會員資訊</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <div id="ListView">
                        @*ListView here*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item none">
            <a class="page-link" id="page-ctrl-previous">
                <span class="material-icons">
                    keyboard_arrow_left
                </span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        @{
            int pageNum = ViewBag.PAGE;

            for (int i = 1; i <= pageNum; i++)
            {
                <li class="page-item"><a class="page-link" onclick="listviewShow(@i)">@i</a></li>
            }
        }
        <li class="page-item">
            <a class="page-link" id="page-ctrl-next">
                <span class="material-icons">
                    keyboard_arrow_right
                </span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>


@section Scripts
{
    <script>
    let current;
    let totalPage = @ViewBag.PAGE;
    listviewShow(1);
    keywordResponse();

    //#region ListView
        function listviewShow(page) {
                    $.post('@Url.Content("~/Back_Members/ListView")', { inputPage: page })
                        .done((response) => {
                            $("#ListView").html(response);
                        })

            current = parseInt(`${page}`);
            let elementli = $("ul.pagination").children("li");
            elementli.removeClass("active").eq(page).addClass("active")
            PageList(page, elementli, totalPage)
        }
        $("#page-ctrl-previous").click(function () {
            if (current > 1)
                listviewShow(current - 1);
        });
        $("#page-ctrl-next").click(function () {
            if (current < totalPage)
                listviewShow(current + 1);
        });
            //#endregion

    function keywordResponse() {
        let keyword = $('input[name="txtKeyword"]');
        let keyValue = $('input[name="txtKeyword"]').val();
        @*keyword.blur(async() => {
            console.log(keyword.val());
            const response = await fetch("@Url.Content("~/Back_Members/ListView")?txtKeyword=" + keyword.val())
            console.log(response);*@

        @*keyword.blur(() => {
              $.post('@Url.Content("~/Back_Members/ListView")', { txtKeyword: keyValue })
                        .done((response) => {
                            /*keyword.val(response);*/
                            console.log(response)
                        })
                  .fail((response) => {
                      console.log(ErrorEvent)
                  })*@
        /*})*/

        if (keyword.val() == '')
            console.log('empty');
            else
            console.log('no empty');
    }

    </script>
}
