@model IEnumerable<Project_IPET.ViewModels.CBackMembersViewModel>

<table class="table align-items-center mb-0">
    <thead>
        <tr>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">會員</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">帳號</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">性別</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">生日</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">地址</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">註冊日期</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">banned</th>
            <th class="text-secondary opacity-7"></th>
        </tr>
    </thead>
    @{ foreach (var item in Model)
        {
            int count = 0;
            <tbody>
                <tr>
                    <td>
                        <div class="d-flex px-2 py-1">
                            <div>
                                <img src="~/Front/images/register/members/@Html.DisplayFor(modelItem => item.Avatar)" class="avatar avatar-sm me-3 border-radius-lg" alt="user@{++count;} ">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">@Html.DisplayFor(modelItem => item.Name)</h6>
                                <p class="text-xs text-secondary mb-0">@Html.DisplayFor(modelItem => item.Email)</p>
                            </div>
                        </div>
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">@Html.DisplayFor(modelItem => item.UserId)</span>
                    </td>
                    <td class="align-middle text-center text-sm">
                        @{ if (item.Gender == "Male")
                            {
                                <span class="badge badge-sm bg-gradient-info">@Html.DisplayFor(modelItem => item.Gender)</span>}
                            else if (item.Gender == "Female")
                            {
                                <span class="badge badge-sm bg-gradient-danger">@Html.DisplayFor(modelItem => item.Gender)</span>}
                            else
                            {
                                <span class="badge badge-sm bg-gradient-secondary">@Html.DisplayFor(modelItem => item.Gender)</span> } }
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">  @Html.DisplayFor(modelItem => item.BirthDate)</span>
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"> @Html.DisplayFor(modelItem => item.Phone)</span>
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"> @Html.DisplayFor(modelItem => item.Address)</span>
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"> @Html.DisplayFor(modelItem => item.RegisteredDate)</span>
                    </td>
                    <td class="align-middle text-center">
                        @if (!item.Banned)
                        {<a class="fa fa-ban"></a>}
                        else
                        {<a class="fa fa-ban" disabled></a>}

                    </td>
                </tr>

            </tbody>
        } }
</table>

