@model List<Project_IPET.ViewModels.CProjectViewModel>
@{
    ViewData["Title"] = "專案管理";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}

<a id="buttonAdd" class="btn btn-primary mb-3" asp-action="Create"><i class="fas fa-plus-square"> 新增專案</i></a>

<table id="Projects" class="table table-bordered">
    <thead>
        <tr>
            <th>序號</th>
            <th>專案編號</th>
            <th>專案名稱</th>
            <th>目標金額</th>
            <th>基金會</th>
            <th>開始時間</th>
            <th>結束時間</th>
            <th>動作</th>
        </tr>
    </thead>
    <tbody id="ProjectBody">
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@Html.DisplayFor(modelItem => item.fId)</td>
                    <td>@Html.DisplayFor(modelItem => item.fTitle)</td>
                    <td>@Html.DisplayFor(modelItem => item.fGoal)</td>
                    <td>@Html.DisplayFor(modelItem => item.fFoundation)</td>
                    <td>@Html.DisplayFor(modelItem => item.fStarttime)</td>
                    <td>@Html.DisplayFor(modelItem => item.fEndtime)</td>
                    <td>
                        <button type="button" class="detail btn btn-secondary mr-3" data-bs-toggle="modal" data-bs-target="#detailModal">
                            <i class="fas fa-bars"></i>
                        </button>
                        <button type="button" class="btn btn-secondary mr-3" data-bs-toggle="modal" data-bs-target="#projectModal">
                            <i class="fas fa-pen-nib"></i>
                        </button>
                        @Html.ActionLink("刪除", "Delete", "Back_Project", new { id = item.fId }, new { @class = "btn btn btn-danger mr-3", onclick = "return confirm('確定要刪除嗎')" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<!-- 編輯Modal -->
<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">專案修改 <span></span></h5>
            </div>
            <div class="modal-body">
                <form id="editform" style="margin:10px" asp-action="Edit" enctype="multipart/form-data">
                    <div class="form-group" style="margin:10px 0">
                        <input type="hidden" class="form-control" id="fId" placeholder="專案名稱" name="fId">
                    </div>
                    <div class="form-group" style="margin:10px 0">
                        <label for="title" style="font-size:25px;">專案名稱</label>
                        <input type="text" class="form-control" id="title" placeholder="專案名稱" name="fTitle">
                    </div>
                    <div class="form-group" style="margin:10px 0">
                        <label for="description" style="font-size:25px">專案簡介</label>
                        <input type="text" class="form-control" id="description" placeholder="專案簡介" name="fDes">
                    </div>
                    <div class="form-group" style="margin:10px 0">
                        <label for="prjphoto" style="font-size:25px;">專案圖片</label>
                        <input type="file" class="form-control" id="prjphoto" name="fPhoto">
                        <img class="fit-image" id="imgpre" style="width: 270px; height: 170px; background-attachment: fixed; margin-top:5px" />
                    </div>
                    <div class="form-group col-xl-5" style="margin:10px 0">
                        <label style="font-size:25px">基金會</label>
                        <select name="fFound" id="foundlist">
                        </select>
                    </div>
                    <div class="form-group" style="margin:10px 0">
                        <label for="fGoal" style="font-size:25px">專案目標</label>
                        <input type="text" class="form-control" id="fGoal" placeholder="專案目標" name="fGoal">
                    </div>
                    <div class="form-group" style="margin:10px 0">
                        <label for="fStart" style="font-size:25px">開始日期</label>
                        <input type="date" class="form-control" id="fStart" placeholder="開始日期" name="fStart">
                    </div>
                    <div class="form-group" style="margin:10px 0">
                        <label for="content" style="font-size:25px">結束日期</label>
                        <input type="date" class="form-control" id="fEnd" placeholder="結束日期" name="fEnd">
                    </div>
                    <div class="form-group" style="margin:10px 0">
                        <label for="content" style="font-size:25px">專案說明</label><br />
                        <textarea name="fContent" id="content" style="width:100%" rows="15"></textarea>
                    </div>
                    <div class="form-group" style="margin:10px 0">
                        <label style="font-size:25px">專案商品</label><br />
                        <div id="prodlist">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-secondary" asp-action="Index">關閉</a>
                        <input type="submit" class="btn btn-danger" value="修改">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- DetailModal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top:10%">
    <div class="modal-dialog" role="document" style="max-width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">訂單資訊</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <caption class="caption-top">專案商品列表:</caption>
                    <thead>
                        <tr>
                            <th style="padding:0.5rem">序</th>
                            <th style="padding:0.5rem">商品名稱</th>
                            <th style="padding:0.5rem">單價</th>
                            <th style="padding:0.5rem">數量</th>
                            <th style="padding:0.5rem">金額</th>
                        </tr>
                    </thead>
                    <tbody id="detailbody">
                    </tbody>
                </table>
                <div>
                    <img id="detailphoto" style="width:350px;float:left;margin-right:15px" />
                    <div>
                        <p id="detailtitle" style="margin:5px">專案名稱:</p>
                        <p id="detailfoundation" style="margin:5px">基金會:</p>
                        <p id="detailgoal" style="margin:5px">目標金額:</p>
                        <p id="detailstarttime" style="margin:5px">開始日期:</p>
                        <p id="detailendtime" style="margin:5px">結束日期:</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"></script>
    <script>
        $('#Projects').DataTable({
            "language": {
                "lengthMenu": "顯示 _MENU_ 項結果",
                "paginate": {
                    "first": "第一頁",
                    "previous": "上一頁",
                    "next": "下一頁",
                    "last": "最後一頁"
                },
                "info": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
            },
            //設定參數
            scrollY: 550,
            lengthMenu: [25, 50, 100, 150]
        });

        //明細按鈕
        $("#ProjectBody").on('click', 'button:nth-child(1)', async function () {
            const ProjectId = $(this).parents('tr').find('td:nth-child(2)').text();
            const Productresponse = await fetch("@Url.Content("~/Back_Project/ProjectProduct?Id=")" + ProjectId);
            renderProduct(await Productresponse.json());
            const Otherresponse = await fetch("@Url.Content("~/Back_Project/ProjectDetail?Id=")" + ProjectId);
            renderOther(await Otherresponse.json());
        })

        function renderProduct(datas) {
            $("#detailbody").html("");
            var countdetail = 0;
            datas.forEach(item => {
                countdetail++;
                var tr = document.createElement("tr");
                //序
                var td1 = document.createElement("td");
                td1.innerHTML = countdetail;

                //商品名稱
                var td2 = document.createElement("td");
                td2.innerHTML = item.name;

                //單價
                var td3 = document.createElement("td");
                td3.innerHTML = item.price;

                //數量
                var td4 = document.createElement("td");
                td4.innerHTML = item.stock;

                //總金額
                var td5 = document.createElement("td");
                td5.innerHTML = (item.price * item.stock);

                tr.append(td1, td2, td3, td4, td5);
                $("#detailbody").append(tr);
            })
        }
        function renderOther(datas) {
            $("#detailphoto").attr("src",`/Front/images/project/${datas[0].detailimg}`)
            $("#detailtitle").html(`專案名稱: ${datas[0].detailtitle}`)
            $("#detailfoundation").html(`基金會: ${datas[0].detailfoundation}`)
            $("#detailgoal").html(`目標金額: ${datas[0].detailgoal}`)
            $("#detailstarttime").html(`開始日期: ${datas[0].detailstarttime}`)
            $("#detailendtime").html(`結束日期: ${datas[0].detailendtime}`)
        }

        $("#ProjectBody").on('click', 'button:nth-child(2)', async function () {
            const ProjectId = $(this).parents('tr').find('td:nth-child(2)').text();
            const Productresponse = await fetch("@Url.Content("~/Back_Project/EditLoad?Id=")" + ProjectId);
            renderEdit(await Productresponse.json());
            @*const Otherresponse = await fetch("@Url.Content("~/Back_Project/ProjectDetail?Id=")" + ProjectId);
            renderOther(await Otherresponse.json());*@
        })
        function renderEdit(datas) {
            $("#fId").val(datas.fId);
            $("#title").val(datas.fTitle);
            $("#description").val(datas.fDes);
            $("#imgpre").attr("src", `/Front/images/project/${datas.fImg}`);
            $("#fGoal").val(datas.fGoal);
            $("#fStart").val(datas.fStart.substring(0, 10));
            $("#fEnd").val(datas.fEnd.substring(0, 10));
            $("#goal").val(datas.fGoal);
            $("#content").val(datas.fContent.replace(/<br>/g, "\r\n"));

            const foundlist = document.getElementById("foundlist");
            foundlist.innerHTML = "";
            datas.fAllfund.forEach((found) => {
                const foundoption = document.createElement("option");
                foundoption.value = found.id;
                foundoption.innerHTML = found.name;
                if (found.id == datas.fFound)
                    foundoption.selected = true;
                foundlist.append(foundoption);
            })

            const list = document.getElementById("prodlist");
            list.innerHTML = "";
            datas.fAllprod.forEach((prod) => {
                
                const checkbox = document.createElement("input");
                checkbox.type = "checkbox";
                checkbox.name = "fProds";
                checkbox.value = prod.prodId;
                checkbox.id = `prod${prod.prodId}`;
                if (datas.fProd.includes(prod.prodId))
                    checkbox.checked = true;
                const label = document.createElement("label");
                label.innerHTML = prod.prodName;
                label.setAttribute("for", `prod${prod.prodId}`);
                label.style.position = "absolute";
                const br = document.createElement("br");
                list.append(checkbox, label, br);
            })
        }

        $("#prjphoto").on("change", function (e) {
            const file = this.files[0];
            const fr = new FileReader();
            fr.onload = function (e) {
                $("#imgpre").attr("src", e.target.result);
            }
            fr.readAsDataURL(file);
        })
    </script>
}