@model PetModel
@{
    ViewData["Title"] = "修改認養資訊";
}

@section Styles{
    <style>
        .preview-img {
            width: 100px;
            margin: 3px;
        }
    </style>
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#btnOK").click(editPet);
            getCities();
            $("#ddlCities").change(showRegions);
        });
              var cityId = @Model.PetCityID;
              var regionId=@Model.PetRegionID;

        function editPet() {
            const formData = new FormData()
            formData.append('petId',@Model.PetID);
            formData.append('petName', $("#txtPetName").val());
            formData.append('petCityId', $('#ddlCities').val());
            formData.append('petRegionId', $("#ddlRegion").val());
            formData.append('petVariety', $("#txtPetVariety").val());
            formData.append('petCategory', $("#txtPetCategory").val());
            formData.append('petGender', $('#txtPetGender').val());
            formData.append('petSize', $('#txtPetSize').val());
            formData.append('petColor', $('#txtPetColor').val());
            formData.append('petAge', $('#txtPetAge').val());
            formData.append('petFix', $('#txtPetFix').val());
            formData.append('publishedDate', $('#txtPublishedDate').val());
            formData.append('petDescription', $('#txtPetDescription').val());
            formData.append('petContact', $('#txtPetContact').val());
            formData.append('petContactPhone', $('#txtPetContactPhone').val());

            var input = $("#petPhoto")[0];
            var files = input.files;
            for (var i = 0; i != files.length; i++) {
                formData.append("files", files[i]);
            }


            $.ajax({
                method: "POST",
                url: "/Back_PetAdopt/EditPet",
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    if (result) {
                        alert("修改成功");
                        window.location.href = "/Back_PetAdopt/Index";
                    }
                    else {
                        alert("修改失敗");
                    }
                }
            });
        }

        function getCities() {
            $.ajax({
                method: "GET",
                url: "/Back_PetAdopt/GetCities",
                success: function (result) {
                    cities = result;
                    showCities();
                    showRegions();
                }
            });
        }
        function showCities() {
            $.each(cities, function (i, city) {
                var opt = $("<option></option>").text(city.cityName).val(city.cityID);
                $("#ddlCities").append(opt);
            });
            $("#ddlCities").val(cityId);
        }
        function showRegions() {
            var selectedCityId = $("#ddlCities").val();
            var selectedCity = cities.find(c => c.cityID == selectedCityId);
            $("#ddlRegion").html("");
            $.each(selectedCity.regions, function (i, region) {
                var opt = $("<option></option>").text(region.regionName).val(region.regionId);
                $("#ddlRegion").append(opt);
            });
                $("#ddlRegion").val(regionId);
        }

        function previewImages(event) {
            $("#previewImages").html("");
            $.each(event.target.files, function (i, file) {
                var src = URL.createObjectURL(file);
                var img = $("<img>").attr("src", src).addClass("preview-img");
                $("#previewImages").append(img);
            });
        }

    </script>
}

<form role="form" class="text-start">
    <div class="input-group input-group-static mb-4">
        <label class="fms-0" style="color:black; font-weight:bold;">寵物名稱</label>
        <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" id="txtPetName" value="@Model.PetName">
    </div>
    <div class="input-group input-group-static mb-4">
        <label for="ddlCities" class="ms-0" style="color:black; font-weight:bold;">縣市</label>
        <select id="ddlCities" class="form-control" aria-label="Default select example">
        </select>
    </div>
    <div class="input-group input-group-static mb-4">
        <label for="ddlRegion" class="ms-0" style="color:black; font-weight:bold;">鄉鎮</label>
        <select id="ddlRegion" class="form-control" aria-label="Default select example">
        </select>
    </div>
    <div class="input-group input-group-static mb-4">
        <label class="fms-0" style="color:black; font-weight:bold;">品種</label>
        <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" id="txtPetVariety" value="@Model.PetVariety">
    </div>
    <div class="input-group input-group-static mb-4">
        <label class="fms-0" style="color:black; font-weight:bold;">種類</label>
        <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" id="txtPetCategory" value="@Model.PetCategory">
    </div>
    <div class="input-group input-group-static mb-4">
        <label class="fms-0" style="color:black; font-weight:bold;">性別</label>
        <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" id="txtPetGender" value="@Model.PetGender">
    </div>
    <div class="input-group input-group-static mb-4">
        <label class="fms-0" style="color:black; font-weight:bold;">體型</label>
        <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" id="txtPetSize" value="@Model.PetSize">
    </div>
    <div class="input-group input-group-static mb-4">
        <label class="fms-0" style="color:black; font-weight:bold;">毛色</label>
        <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" id="txtPetColor" value="@Model.PetColor">
    </div>
    <div class="input-group input-group-static mb-4">
        <label class="fms-0" style="color:black; font-weight:bold;">年紀</label>
        <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" id="txtPetAge" value="@Model.PetAge">
    </div>
    <div class="input-group input-group-static mb-4">
        <label class="fms-0" style="color:black; font-weight:bold;">是否結紮</label>
        <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" id="txtPetFix" value="@Model.PetFix">
    </div>
    <div class="input-group input-group-static mb-4">
        <label class="fms-0" style="color:crimson; font-weight: bold;">發佈日期</label>
        <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" id="txtPublishedDate" value="@DateTime.Now.ToString("yyyyMMdd")">
    </div>
    <div class="input-group input-group-static mb-4">
        <label class="fms-0" style="color:black; font-weight:bold;">資訊</label>
        <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" id="txtPetDescription" value="@Model.PetDescription">
    </div>
    <div class="input-group input-group-static mb-4">
        <label class="fms-0" style="color:black; font-weight:bold;">聯絡人名稱</label>
        <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" id="txtPetContact" value="@Model.PetContact">
    </div>
    <div class="input-group input-group-static mb-4">
        <label class="fms-0" style="color:black; font-weight:bold;">聯絡人電話</label>
        <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" id="txtPetContactPhone" value="@Model.PetContactPhone">
    </div>


    <div class="buttons">
        <div class="upload-button">
            <div class="label" style="color:crimson; font-weight:bold;">寵物圖片</div>
            <input id="petPhoto" type="file" size="1" multiple onchange="previewImages(event);" />
        </div>
    </div>

    <div id="previewImages" class="d-flex justify-content-start align-items-center"></div>
    <div class="text-center">
        <button id="btnOK" type="button" class="btn bg-gradient-primary w-100 my-4 mb-2">確定</button>
    </div>
</form>