@model ProductListResponseModel
@{
    Layout = null;
}
<div>
   

    <table class="table align-items-center mb-0">
        <thead>
            <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">商品名稱</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">商品單價/進價成本</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">庫存</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">商品描述</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">是否為熱門商品</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">是否熱門商品</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">商品評價</th>
                <th class="text-secondary opacity-7">操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.ProductList)
            {
                <tr>
                    <td>
                        <div class="d-flex px-2 py-1">
                            <div>
                                <img src="@product.ProductImageBase64String" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">@product.ProductName</h6>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="text-xs font-weight-bold mb-0">@product.UnitPrice</p>
                        <p class="text-xs text-secondary mb-0">@product.CostPrice</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">@product.UnitsInStock</span>
                    </td>
                    <td class="align-middle">
                        <span class="text-secondary text-xs font-weight-bold">@product.Description.Substring(0,product.Description.Length < 20 ? product.Description.Length : 20) ...</span>
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                            @if(product.HotProduct){
                                <span>V</span>
                            }
                            else
                            {
                                <span>X</span>
                            }
                        </span>
                    </td>
                    <td class="align-middle  text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                            @if(product.ProductAvailable){
                                <span>V</span>
                            }
                            else
                            {
                                <span>X</span>
                            }
                            </span>
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"></span>
                    </td>
                    <td class="align-middle text-center">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            刪除
                        </a>
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            修改
                        </a>
                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>
<div class="shop_toolbar_wrapper justify-content-center m-t-50">
    <!-- Shopt Top Bar Right Start -->
    <div class="shop-top-bar-right">
        <nav>
            <ul class="pagination">
                @{
                    int startPage = 0;
                    int endPage = 0;
                    if (Model.Pagination.TotalPage < 9)
                    {
                        startPage = 1;
                        endPage = Model.Pagination.TotalPage;
                    }
                    else if (Model.Pagination.Page > 4 && Model.Pagination.Page < Model.Pagination.TotalPage - 3)
                    {
                        startPage = Model.Pagination.Page - 4;
                        endPage = Model.Pagination.Page + 4;
                    }
                    else if (Model.Pagination.Page >= Model.Pagination.TotalPage - 3)
                    {
                        startPage = Model.Pagination.TotalPage - 8;
                        endPage = Model.Pagination.TotalPage;
                    }
                    else
                    {
                        startPage = 1;
                        endPage = 9;
                    }

                    @if (Model.Pagination.Page > 1)
                    {
                        <li class="page-item">
                            <a class="page-link rounded-0" onclick="getProductList(@(Model.Pagination.Page -1) )" href="#/" aria-label="Prev">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                    }

                    for (int i = startPage; i <= endPage; i++)
                    {
                        <li class="page-item">
                            @if (i == Model.Pagination.Page)
                            {
                                <a class="page-link active" onclick="getProductList(@i)" href="#">@i</a>
                            }
                            else
                            {
                                <a class="page-link" onclick="getProductList(@i)" href="#">@i</a>
                            }
                        </li>
                    }
                }
                @if (Model.Pagination.Page < Model.Pagination.TotalPage)
                {
                    <li class="page-item">
                        <a class="page-link rounded-0" onclick="getProductList(@(Model.Pagination.Page + 1) )" href="#/" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                }

            </ul>
        </nav>
    </div>
    <!-- Shopt Top Bar Right End -->
</div>


