@model List<Project_IPET.ViewModels.CPostViewModel>



<div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 m-b-n40">

    @foreach (var item in Model)
    {


        <div class="col m-b-40 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
            <!-- Single Blog Start -->

            <div class="single-blog-wrapper">

                <!-- Blog Thumb Start -->
                <div class="blog-thumb thumb-effect">
                    <a class="image" asp-controller="Front_Blog" asp-action="PostView" asp-route-id="@item.PostId">
                        <img class="fit-image" height=300 src="~/Front/images/blog/UploadImage/@Html.DisplayFor(modelItem => item.PostImage)" alt="Blog Image">
                    </a>
                </div>
                <!-- Blog Thumb End -->
                <!-- Blog Content Start -->
                <div class="blog-content">
                    <div class="blog-meta">
                        <ul>
                            <!-- 點讚 Start -->
                            <li>
                                <a href="#/">
                                    <i class="fa fa-thumbs-o-up text-primary" aria-hidden="true">@Html.DisplayFor(modelItem => item.LikeCount)</i>
                                </a>

                            </li>
                            <!-- 點讚 End -->

                            <li><span>By</span><span>@Html.DisplayFor(modelItem => item.MemberName)</span></li> <!-- 貼文作者 -->
                            <li><span>@Html.DisplayFor(modelItem => item.PostDate)</span></li>          <!-- 貼文日期 -->

                        </ul>
                    </div>
                    <h2 class="blog-title Content"><a asp-controller="Front_Blog" asp-action="PostView" asp-route-id="@item.PostId">@Html.DisplayFor(modelItem => item.Title)</a></h2>    <!-- 貼文標題 -->
                    <p class="Content">@Html.DisplayFor(modelItem => item.PostContent)</p>     <!-- 貼文內容 -->
                    <a class="more-link" asp-controller="Front_Blog" asp-action="PostView" asp-route-id="@item.PostId">繼續閱讀</a>
                </div>
                <!-- Blog Content End -->

            </div>
            <!-- Single Blog End -->
        </div>

    }

</div>


