@model IEnumerable<Project_IPET.ViewModels.CPostViewModel>
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>

        .Bloghover {
            padding: 30px 20PX;
        }

            .Bloghover:hover {
                padding-top: 15px;
                background-color: #FFD1A4;
                border: 1px double #FFD1A4;
                transition: 1s
            }

        .Content {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    </style>

</head>
<body>


    <!-- Breadcrumb Area Start -->
    <div class="section breadcrumb-area bg-name-bright">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="breadcrumb-wrapper">
                        <h2 class="breadcrumb-title">部落格</h2>
                        <ul>
                            <li><a asp-controller="Front_Home">IPET 寵物店</a></li>
                            <li>部落格</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->
    <!-- Post Section Start -->
    <div class="section section-margin">
        <div class="container">

            <div class="row flex-row-reverse">


                <!-- ListView Start -->
                <div class="col-lg-9 col-12" data-aos="fade-right" data-aos-duration="2000" data-aos-easing="ease-in-sine">
                    <!-- Page Start -->

                    <div class="row">
                        <div class="col-12 m-b-50">

                            <nav class="d-flex justify-content-end ">
                               
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link " id="page-ctrl-previous">
                                            <span>&laquo;</span>
                                        </a>
                                    </li>
                                    @{
                                        int pagenum = @ViewBag.tatalpage;
                                        for (int i = 1; i <= pagenum; i++)
                                        {

                                            <li class="page-item " style="display:none"><a class="page-link " onclick="post(@i)">@i</a></li>

                                        }

                                    }
                                    <li class="page-item">
                                        <a class="page-link " id="page-ctrl-next">
                                            <span>&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                                <h2 id="pagenumber" style="float:right; width:150px; text-align:center;"></h2>
                                <h2 id="postnumber" style="float:right; width:150px; text-align:center;"></h2>
                            </nav>
                         
                        </div>
                    </div>
                    <!-- Page End -->
                    <div id=listview>

                        <!-- Single Blog Start -->
                        <div class="row row-cols-lg-2 row-cols-sm-2 row-cols-1 m-b-n40"  data-aos="flip-left" data-aos-duration="500" data-aos-easing="ease-in-sine">

                            @{ 
                                foreach (var item in Model)
                                {

                                    
                            <div class="col m-b-40 postdata"  >
                                
                                  

                                <div class="single-blog-wrapper Bloghover ">
                                    <!-- 圖片 Start -->
                                    <div class="blog-image thumb-effect">
                                        <a class="image" asp-controller="Front_Blog" asp-action="PostView" asp-route-id="@item.PostId">
                                            <img class="fit-image "   height=300 src="~/Front/images/blog/UploadImage/@Html.DisplayFor(modelItem => item.PostImage)" alt="Blog Image">
                                        </a>
                                    </div>
                                    <!-- 圖片 End -->
                                    <!-- Blog Content Start -->
                                    <div class="blog-content">


                                        <div class="blog-meta">
                                            <ul>
                                                <!-- 點讚 Start -->
                                                <li>
                                                    <a href="#/">
                                                    <input type="hidden" value="@item.liked" id="@item.PostId">
                                                    <input type="hidden" value="@item.userId">
                                                        @if(item.liked !=0)
                                                                {
                                                                    <i class="fa fa-thumbs-o-up text-primary" id="clicklike" onclick="clicklike(@item.PostId,@item.MemberId)"  ></i>
                                                                }
                                                                else
                                                                {
                                                                     <i class="fa fa-thumbs-o-up " id="clicklike" onclick="clicklike(@item.PostId,@item.MemberId)"  ></i>
                                                                }
                                                            </a>
                                                </li>
                                                <!-- 點讚 End -->
                                                        @if( @item.LikeCount != 0)
                                                        {
                                                            <li class="w-30 text-primary">@Html.DisplayFor(modelItem => item.LikeCount) -</li>
                                                        }
                                                        else
                                                        {
                                                            <li class="w-30">@Html.DisplayFor(modelItem => item.LikeCount) -</li>
                                                        }
                                                        <li><span>By</span><span>@Html.DisplayFor(modelItem => item.MemberName)</span></li> <!-- 貼文作者 -->
                                                <li><span>@Html.DisplayFor(modelItem => item.PostDate)</span></li>          <!-- 貼文日期 -->

                                            </ul>
                                        </div>

                                        <h2 class="blog-title Content"><a asp-controller="Front_Blog" asp-action="PostView" asp-route-id="@item.PostId">@Html.DisplayFor(modelItem => item.Title)</a></h2>    <!-- 貼文標題 -->

                                        <p class="Content">@Html.DisplayFor(modelItem => item.PostContent)</p>     <!-- 貼文內容 -->

                                        <a class="more-link" asp-controller="Front_Blog" asp-action="PostView" asp-route-id="@item.PostId">繼續閱讀</a>
                                    </div>
                                    <!-- Blog Content End -->
                                </div>
                            </div>
                                    }
                                }
                        </div>
                        <!-- Single Blog End -->





                    </div>

                </div>
                <!-- ListView End-->


                <div class="col-lg-3 col-12">

                    <!-- Sidebar Widget Start -->

                    <aside class="sidebar_widget m-t-50 mt-lg-0" data-aos="fade-left" data-aos-duration="2000" data-aos-easing="ease-in-sine">

                        <div class="widget_inner">
                            <div class="widget-list m-b-50">
                                <h3 class="widget-title m-b-30">貼文分享</h3>
                                <a href="~/Front_Blog/CreatePost" class="btn btn-primary btn-hover-dark" style="font-size:large" ;>發新貼文</a>
                            </div>
                            <!-- 篩選器 Start-->
                            <form action="~/Front_Blog/Index" method="post" runat="server">


                                <!-- 關鍵字搜尋 -->
                                <div class="widget-list m-b-50">
                                    <h3 class="widget-title m-b-30">關鍵字搜尋</h3>
                                    <div class="search-box">
                                        <input type="text" class="form-control" placeholder="請輸入關鍵字"  name="FilterKeyword" aria-label="Search Our Store">
                                        <button class="search-icon" type="submit">
                                            <i class="icon-magnifier"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- 時間區間搜尋 -->
                                <div class="widget-list m-b-50">
                                    <div class="search-box">
                                        <input type="date" name="FilterPostFristDate" class="form-control">
                                        <input type="date" name="FilterPostLastDate" class="form-control">
                                    </div>
                                </div>
                            </form>
                           
                            

                           
                        

                                <!-- 依類別 -->
                                <div class="widget-list m-b-50">
                                    <h3 class="widget-title m-b-30">依類別</h3>
                                    <div class="sidebar-body">
                                        <ul class="sidebar-list">
                                         @foreach (var item in ViewBag.PostType)
                                         {
                                             
                                            <li><a asp-action="Index" asp-route-PostType="@item.PostType">@item.PostType (@item.PostTypeId)</a></li>
                                     
                                         }
                                        </ul>
                                    </div>
                                </div>
                          
                                <!-- Tags -->
                                <!--<div class="widget-list">
                                    <h3 class="widget-title m-b-30">Tags</h3>
                                    <div class="sidebar-body">
                                        <ul class="tags m-b-n10">
                                            <li><a href="#/">罐罐</a></li>
                                            <li><a href="#/">阿喵</a></li>
                                            <li><a href="#/">浪浪</a></li>
                                            <li><a href="#/">狗勾</a></li>
                                            <li><a href="#/">朕</a></li>

                                        </ul>
                                    </div>
                                </div>-->

                          
                            <br />
                            <!-- 篩選器 End -->
                            <!-- 快速連結 Start -->

                            <div>
                                <!-- 依日期分類 -->
                                <div class="widget-list p-b-50">
                                    <h3 class="widget-title m-b-30">依年份</h3>

                                   
                                       
                                    <div class="sidebar-body sidebar-body-archive">
                                        <h4 class="title"> 2021年</h4>
                                        <ul class="archive-list d-block">
                                           
                                     @foreach (var item in ViewBag.PostDate2021)
                                     {
                                             
                                           <li><span>&#8608;</span><a  asp-controller="Front_Blog" asp-action="PostView" asp-route-id="@item.PostId">@item.PostContent</a></li>
                                     
                                     }
                                        </ul>
                                    </div>
                                    <div class="sidebar-body sidebar-body-archive m-t-20">
                                        <h4 class="title"> 2020年</h4>
                                        <ul class="archive-list d-block">
                                           
                                     @foreach (var item in ViewBag.PostDate2020)
                                     {
                                             
                                           <li><span>&#8608;</span><a  asp-controller="Front_Blog" asp-action="PostView" asp-route-id="@item.PostId">@item.PostContent</a></li>
                                     
                                     }
                                        </ul>
                                    </div>
                                </div>
                                <!-- 最新貼文 -->
                                <div class="widget-list p-b-50">
                                    <h3 class="widget-title m-b-30">最新貼文</h3>
                                    <div class="sidebar-body blog-list-wrapper m-b-n30">

                                        <!-- Single Blog List Start -->
                                     @foreach (var item in ViewBag.PostDateNTimeNow)
                                     {
                                        <div class="single-blog-list m-b-30">

                                            <!-- Blog List Thumb Start -->
                                            <div class="blog-thumb">
                                                <a asp-controller="Front_Blog" asp-action="PostView" asp-route-id="@item.PostId" class="image">
                                                    <img class="fit-image" src="~/Front/images/blog/UploadImage/@item.PostImage" alt="Blog Image">
                                                     
                                                </a>
                                            </div>
                                            <!-- Blog List Thumb End -->
                                            <!-- Blog List Content Start -->
                                            <div class="blog-list-content">
                                                <h6 class="blog-name">
                                                    <a asp-controller="Front_Blog" asp-action="PostView" asp-route-id="@item.PostId" title="@item.Title">@item.PostContent</a>
                                                </h6>
                                                <div class="blog-meta">
                                                    <p>@item.PostDate</p>
                                                </div>
                                            </div>
                                            <!-- Blog List Content End -->

                                        </div>

                                    }
                                        <!-- Single Blog List End -->
                                       

                                    </div>
                                </div>
                            </div>
                            <!-- 快速連結 End-->
                             
                            
                        </div>
                    </aside>
                    <!-- Sidebar Widget End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Post Section End -->


</body>

</html>


@section Scripts{

    <script>

      let current;
      let totalpage = @ViewBag.tatalpage;
      let pagesize = @ViewBag.pagesize;
      let totalpost =@ViewBag.totalpost;
      post(1);

        
       
        function post(page)
        {

          

            current = parseInt(`${page}`);
            let elementli = $("ul.pagination").children("li");
            let postdata = $(".postdata");

           

            if (totalpost != 0) {

                elementli.children("a").removeClass("active").eq(page).addClass("active");
                PageList(page, elementli, totalpage);
                PageData(page, postdata, pagesize, totalpost,"inline")
                $("#pagenumber").text(`${page}/${totalpage}頁數`);
                $("#postnumber").text(`總共${totalpost}筆`);
            }
            else
            {
                $("#pagenumber").text("沒有找到任何貼文");
                elementli.eq(0).css("display", "none");
                elementli.eq(totalpage + 1).css("display", "none");
            }
           
        }

        $("#page-ctrl-previous").click(function () {
            if (current > 1)
                post(current - 1);


        });

        $("#page-ctrl-next").click(function () {
            if (current < totalpage)
            post(current + 1);

        });


       function clicklike(postId,MemberId)
       {


           if($(`#${postId}`).val() != 0)
           {
             $("#clicklike").removeClass("text-primary");


              POSTMethod("@Url.Content("~/Front_Blog/DeleteLike")",
              {
               MemberId:MemberId,
               PostId:postId,
              },
               null
              )
      

           }
           else
           {
             $("#clicklike").addClass("text-primary");

              POSTMethod("@Url.Content("~/Front_Blog/CreateLike")",
              {
               MemberId:MemberId,
               PostId:postId,
              },
               null
              )
            

           }

             window.location.reload(true);
            
       }



    </script>

}