@model List<Project_IPET.ViewModels.CPostViewModel>
                     
    <head>
        <style>
       
            .Bloghover {
             padding:30px 20PX;
             
            }
            .Bloghover:hover  {
             padding-top:15px;
             background-color:	#FFD1A4;
             border:1px double 	#FFD1A4;
             transition:1s
            }
            .Content {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
    

           }

            
        </style>

    </head>


   
       
            
              <!-- Single Blog Start -->           
      <div  class="row row-cols-lg-2 row-cols-sm-2 row-cols-1 m-b-n40" data-aos="flip-left" data-aos-duration="500" data-aos-easing="ease-in-sine" >        
                        
@foreach (var item in Model) 
{
          
                   <div  class="col m-b-40" >  
                        
             
                        <div class="single-blog-wrapper Bloghover">
                               <!-- 圖片 Start -->
                                <div class="blog-image thumb-effect">
                                    <a class="image" asp-controller="Front_Blog" asp-action="PostView" asp-route-id="@item.PostId">
                                        <img class="fit-image" height=300 src="~/Front/images/blog/UploadImage/@Html.DisplayFor(modelItem => item.PostImage)" alt="Blog Image">
                                    </a>
                                </div>
                                <!-- 圖片 End -->

                              
                                <!-- Blog Content Start -->
                                <div class="blog-content">


                                    <div class="blog-meta">
                                        <ul>
                                            <!-- 點讚 Start -->
                                            <li>
                                                <a href="#/">
                                                    <i class="fa fa-thumbs-o-up text-primary" aria-hidden="true">@Html.DisplayFor(modelItem =>item.LikeCount)</i>
                                                </a>

                                            </li>
                                             <!-- 點讚 End -->

                                            <li><span>By</span><span>@Html.DisplayFor(modelItem => item.MemberName)</span></li> <!-- 貼文作者 -->
                                            <li><span>@Html.DisplayFor(modelItem => item.PostDate)</span></li>          <!-- 貼文日期 -->

                                        </ul>
                                    </div>

                                    <h2 class="blog-title Content"><a asp-controller="Front_Blog" asp-action="PostView" asp-route-id="@Html.DisplayFor(modelItem => item.PostId)">@Html.DisplayFor(modelItem => item.Title)</a></h2>    <!-- 貼文標題 -->
                                   
                                    <p  class="Content">@Html.DisplayFor(modelItem => item.PostContent)</p>     <!-- 貼文內容 -->
                                   
                                    <a class="more-link" asp-controller="Front_Blog" asp-action="PostView" asp-route-id="@Html.DisplayFor(modelItem => item.PostId)">繼續閱讀</a>
                                </div>
                                <!-- Blog Content End -->
                         </div>
                      </div>
}
      </div>        
           <!-- Single Blog End -->

       