@{
    ViewData["Title"] = "評價管理";
}
@model IEnumerable<Project_IPET.ViewModels.CCommentViewModel>

<head>
    <style>
        .middle {
            padding: 0.75rem 1.5rem !important;
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .mid {
            padding: 0.75rem 1.5rem !important;
            text-align: center;
      
            
        }
    </style>

</head>

<button type="button"  class="btn btn-facebook mr-3" data-bs-toggle="modal" data-bs-target="#MessageModal">快速回覆</button>

<button type="button" id="speedshield"  class="btn btn-danger mr-3">快速屏蔽</button>



<form action="~/Back_Comment/Index" method="post" runat="server">
    <div class="row" style="align-items:end;">
        <div class="col-lg-3 d-flex">
            <nav class="d-flex justify-content-end ">
                <ul class="pagination ">
                    <li class="page-item">
                        <a class="page-link " id="page-ctrl-previous">
                            <span>&laquo;</span>
                        </a>
                    </li>
                    @{
                        int pagenum = ViewBag.page;
                        for (int i = 1; i <= pagenum; i++)
                        {

                            <li class="page-item " style="display:none"><a class="page-link " onclick="post(@i)">@i</a></li>

                        }

                    }
                    <li class="page-item">
                        <a class="page-link " id="page-ctrl-next">
                            <span>&raquo;</span>
                        </a>
                    </li>
                </ul>
                <h2 id="pagenumber" style="width:100px; text-align: center;"></h2>
                <h2 id="nodata"  text-align: center;"></h2>
            </nav>
        </div>

        <!-- 篩選器 Start-->

      
        <div class="col-lg-4 m-b-50">
            <div class="form-switch" style="padding-right: 20px; float:right; ">
                <input type="checkbox" name="FilterBanned" value="true" id="FilterBanned"  class="form-check-input mt-2">
                <label class="form-check-label " for="FilterBanned" style="font-size:1.2em; width:100px;">屏蔽狀態</label>
            </div>
            <div class="form-switch" style="padding-right: 20px; float:right; ">
                <input type="checkbox" name="FilterReply" value="false"  id="FilterReply" class="form-check-input mt-2">
                <label class="form-check-label " for="FilterReply" style="font-size: 1.2em; width: 100px;">尚未回覆</label>

            </div>


        </div>
        <!-- 時間區間搜尋 -->
        <span class="col-lg-1  widget-list m-b-50">

            <span>

                <input type="date" class="form-control" name="FilterCommentFristDate">
            </span>
            <span>
                <input type="date" class="form-control" name="FilterCommentLastDate">

            </span>

        </span>

        <div class="col-lg-2 d-flex ">

            <select class="form-select text-2xl text-center mb-3 " name="FilterRating" aria-label=".form-select-lg example">
                    <option value="全部">全部</option>
                @for (int i = 5; i > 0; i--)
                {
                    <option value="@i">@i 星評價 </option>
                }


            </select>
        </div>
        <!-- 關鍵字搜尋 -->
        <div class="col-lg-2 d-flex ">

            <div class="d-flex align-items-center ">
                <div class="input-group input-group-outline">
                    <label class="form-label">請輸入關鍵字</label>

                    <input name="FilterKeyword" type="text" class="form-control" aria-label="Search Our Store">

                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="submit" class="btn btn-primary mt-3">
                    <i class="material-icons">search</i>
                </button>
            </div>
        </div>

    </div>
</form>
<!-- 篩選器 End-->

<div class="col-12">
    <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">評價列表</h6>
            </div>
        </div>

        <div class="card-body px-0 pb-2">
            <div class="p-0">
                <div id="listview">
                    <table class=" col-md-12 ">
                        <thead>
                            <tr class="row">


                                <th class="col-md-1 middle"><input name="clickAll" id="clickAll" type="checkbox">全選</th>
                                <th class="col-md-1 middle">@Html.DisplayNameFor(model => model.MemberName)</th>
                                <th class="col-md-2 middle">@Html.DisplayNameFor(model => model.Rating)</th>
                                <th class="col-md-2 middle">@Html.DisplayNameFor(model => model.CommentDate)</th>
                                <th class="col-md-2 middle">@Html.DisplayNameFor(model => model.CommentContent)</th>
                                <th class="col-md-2 middle">回覆內容</th>
                                <th class="col-md-1 mid">回覆</th>
                                <th class="col-md-1 mid">屏蔽</th>

                            </tr>
                        </thead>
                        @{
                            int number = 0;


                            foreach (var item in Model)
                            {
                                number++;

                                <tbody>

                                    <!-- tr Start -->
                                    <tr class="row postdata">
                                        <td>
                                            <input name="CommentId[]" type="hidden" value="@item.CommentId">
                                        </td>
                                        <td class="col-md-1 middle">
                                            <input name="Checkbox[]" type="checkbox"  value="@number">
                                            @number
                                        </td>
                                        <td class="col-md-1 middle">
                                            @Html.DisplayFor(modelItem => item.MemberName)
                                        </td>
                                        <td class="col-md-2 middle">

                                            <span class="rating">

                                                @if (@item.Rating == null || @item.Rating == 0)
                                                {
                                                    @for (int i = 0; i < 5; i++)
                                                    {
                                                        <i class="fa fa-star-o"></i>
                                                    }
                                                }
                                                else
                                                {
                                                    @for (int i = 1; i <= @item.Rating; i++)
                                                    {
                                                        <i class="fa fa-star text-warning"></i>
                                                    }

                                                    @for (int i = 1; i <= (5 - @item.Rating); i++)
                                                    {
                                                        <i class="fa fa-star-o"></i>
                                                    }
                                                }

                                            </span>
                                        </td>
                                        <td class="col-md-2 middle" title="@Html.DisplayFor(modelItem => item.CommentDate)">
                                            @Html.DisplayFor(modelItem => item.CommentDate)
                                        </td>
                                        <td class="col-md-2 middle" title="@Html.DisplayFor(modelItem => item.CommentContent)">
                                            @Html.DisplayFor(modelItem => item.CommentContent)
                                        </td>
                                        <td class="col-md-2 middle" title="@Html.DisplayFor(modelItem => item.ReplyContent)">
                                            @Html.DisplayFor(modelItem => item.ReplyContent)
                                        </td>
                                        <td class="col-md-1 mid">
                                            <button type="button" class="btn btn btn-facebook mr-3" onclick="GetSelectID(@item.CommentId)" data-bs-toggle="modal" data-bs-target="#MessageModal" >
                                                <i class="fas fa-pen-nib" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td class="col-md-1 mid">
                                            <a type="button" class="btn btn btn-danger mr-3" href="~/Back_Comment/Shield/@item.CommentId" onclick="return confirm('確定要執行嗎?')">
                                                <i class="fa fa-ban" aria-hidden="true"></i>
                                            </a>
                                        </td>

                                    </tr>
                                    <!--  tr End  -->



                                </tbody>
                            }
                        }
                    </table>
                </div>

            </div>
        </div>


    </div>
</div>

<!-- CommentModal Start-->
<div id="MessageModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top:15%">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">回覆留言</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div>
                    <textarea id="ReplyContent" cols="55" rows="5" onFocus="if(this.value==this.defaultValue) this.value=''" onBlur="if(this.value=='') this.value=this.defaultValue">親切地回覆顧客留言以拉近與顧客的距離</textarea>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" id="Cancel" class="btn btn-secondary" data-bs-dismiss="modal" data-target="#Cancel">取消</button>
                <button type="button" id="savebtn" class="btn btn-primary" data-bs-dismiss="modal">送出</button>
            </div>
        </div>
    </div>
</div>

<!-- CommentModal End-->
@section Scripts{


    <script>

      let current;
      let totalpage = @ViewBag.page;
      let pagesize = @ViewBag.pagesize;
      let totalcomment =@ViewBag.totalcomment;
      post(1);

        function post(page) {
            current = parseInt(`${page}`);
            let elementli = $("ul.pagination").children("li");
            let postdata = $(".postdata");

            if (totalcomment != 0) {

                PageList(page, elementli, totalpage);
                PageData(page, postdata, pagesize, totalcomment, "flex")
                $("#pagenumber").text(`${page}/${totalpage}`);

            }
            else {
                $("#nodata").text("沒有找到資料");
                elementli.eq(0).css("display", "none");
                elementli.eq(totalpage + 1).css("display", "none");
            }
        }

        $("#page-ctrl-previous").click(function () {
            if (current > 1)
                post(current - 1);



        });

        $("#page-ctrl-next").click(function () {
            if (current < totalpage)
            post(current + 1);

        });
        let clickAll = $("#listview").find("#clickAll");

        let inputCheckbox = $("#listview").find("input[name='Checkbox[]']");


        $(document).on("click", "#clickAll", function () {

                if (clickAll.prop("checked"))
                    inputCheckbox.prop("checked", true);

                else
                    inputCheckbox.prop("checked", false);

        });


        $(document).on("click", "#savebtn", function () {

            let selectchecked = $("input[name='Checkbox[]']").parents("tr").find("td").find("input[name='Checkbox[]']");

            for (let i = 0; i < inputCheckbox.length; i++)
            {

                if (selectchecked.eq(i).prop("checked") == true)
                {
                    let CommentId = selectchecked.eq(i).parents("tr").find("input[name='CommentId[]']").val();
                    GetSelectID(CommentId);
                    CreateReply();
                }
            }

            window.location.reload();
        })

        $(document).on("click", "#speedshield", function () {

            let selectchecked = $("input[name='Checkbox[]']").parents("tr").find("td").find("input[name='Checkbox[]']");

            for (let i = 0; i < inputCheckbox.length; i++) {

                if (selectchecked.eq(i).prop("checked") == true) {
                    let CommentId = selectchecked.eq(i).parents("tr").find("input[name='CommentId[]']").val();
                    GetSelectID(CommentId);
                    SpeedShield();
                }
            }

            window.location.reload();
        })

        $(document).on("click", "#Cancel", function ()
        {
            $("#ReplyContent").val("");
        })

        let selectID;

        function GetSelectID(CommentId)
        {
            selectID = CommentId;
        }

        function CreateReply()
        {
            if (selectID != null )
            {
                    POSTMethod("@Url.Content("~/Back_Comment/CreateReply")",
                                    {
                                        SelectID:selectID,
                                        ReplyContent: $("#ReplyContent").val(),
                                    },
                                    null
                              )
            }
        }



        function SpeedShield()
        {

            if (selectID != null )
            {

                    POSTMethod("@Url.Content("~/Back_Comment/Shield")",
                        {
                            Id:selectID,
                            },
                            null

                        )
                }
        }


    </script>

}

