@model PetModel

<link rel="stylesheet" href="~/Front/css/pet.css" />

@section Styles{
    <style>
        .product-img {
            height: 470px;
        }

        .img-thumbnail {
            height: 150px;
        }
    </style>
}

<!-- Breadcrumb Area Start -->
<div class="section breadcrumb-area bg-name-bright">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-wrapper">
                    <h2 class="breadcrumb-title">詳細</h2>
                    <ul>
                        <li><a asp-action="index">認養資訊</a></li>
                        <li>詳細</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Single Product Section Start -->
<div class="section section-margin">
    <div class="container">
        <div class="row">

            <div class="col-lg-5 offset-lg-0 col-md-8 offset-md-2">

                <!-- Product Details Image Start -->
                <div class="product-details-img">

                    <!-- Single Product Image Start -->
                    <div class="single-product-img swiper-container product-gallery-top">
                        <div class="swiper-wrapper popup-gallery">
                            @foreach (var petImage in Model.PetImageBase64Strings)
                            {
                                <a class="swiper-slide w-100" href="@petImage">
                                    <img class="w-100 product-img" src="@petImage" alt="@Model.PetName">
                                </a>
                            }

                        </div>
                    </div>
                    <!-- Single Product Image End -->
                    <!-- Single Product Thumb Start -->
                    <div class="single-product-thumb swiper-container product-gallery-thumbs">
                        <div class="swiper-wrapper">
                            @foreach (var petImage in Model.PetImageBase64Strings)
                            {
                                <div class="swiper-slide">
                                    <img class="img-thumbnail" src="@petImage" alt="@Model.PetName">
                                </div>
                            }
                        </div>

                        <!-- Next Previous Button Start -->
                        <div class="swiper-button-next swiper-nav-button"><i class="ti-arrow-right"></i></div>
                        <div class="swiper-button-prev swiper-nav-button"><i class="ti-arrow-left"></i></div>
                        <!-- Next Previous Button End -->

                    </div>
                    <!-- Single Product Thumb End -->

                </div>
                <!-- Product Details Image End -->
            </div>

            <div class="col-lg-7">
                <!-- Product Summery Start -->
                <div class="product-summery position-relative">

                    <div class="container">
                        <!-- Main content -->
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Details -->
                                <div class="card mb-6">
                                    <div class="card-body">
                                        <h2 style="font-weight:700">@Model.PetName</h2>
                                        <hr class="style-one" />
                                        <div class="mt-3 container pt-2 pb-2">
                                            <div class="text-stone font-weight-bold font-size-18 mb-1">
                                                <span>• 品種：</span>@Model.PetVariety
                                            </div>
                                            <div class="col-12 mb-1">
                                                <span>• 種類：</span>@Model.PetCategory
                                            </div>
                                            <div class="col-12 mb-1">
                                                <span>• 性別：</span>@Model.PetGender
                                            </div>
                                            <div class="col-12 mb-1">
                                                <span>• 體型：</span>@Model.PetSize
                                            </div>
                                            <div class="col-12 mb-1">
                                                <span>• 毛色：</span>@Model.PetColor
                                            </div>
                                            <div class="col-12 mb-1">
                                                <span>• 年紀：</span>@Model.PetAge
                                            </div>
                                            <div class="col-12 mb-1">
                                                <span>• 結紮：</span>@Model.PetFix
                                            </div>
                                            <div class="col-12 mb-1">
                                                <span>• 所在地：</span>@Model.CityRegion
                                            </div>
                                            <div class="col-12 mb-2">
                                                <span>• 刊登日期：</span>@Model.PublishedDateFormat
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Details -->
                                <div class="mt-3 container card pt-2 pb-2">
                                    <p class="text-stone font-weight-bold font-size-18 mb-1" style="margin-top:10px">聯絡人：@Model.PetContact</p>
                                    <p class="text-stone font-weight-bold font-size-18">聯絡電話：@Model.PetContactPhone</p>
                                    <hr class="style-one" />
                                    <p class="text-stone font-weight-bold font-size-18" style="margin:10px 0 10px 0">
                                        資訊：
                                        @Model.PetDescription
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Product Summery End -->
                </div>
            </div>
        </div>
    </div>
