@model IQueryable<Project_IPET.ViewModels.COrderViewModel>
@{
    ViewData["Title"] = "訂單管理";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}
<style>
    td{
        color:black;
    }
</style>
<table id="orders" class="table table-bordered">
    <thead>
        <tr>
            <th>序號</th>
            <th>訂單編號</th>
            <th>會員姓名</th>
            <th>下單日期</th>
            <th>訂單金額</th>
            <th>訂單類型</th>
            <th>訂單狀態</th>
            <th>明細/編輯/刪除</th>
        </tr>
    </thead>
    <tbody id="orderBody">
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@Html.DisplayFor(modelItem => item.fId)</td>
                    <td>@Html.DisplayFor(modelItem => item.fMemberName)</td>
                    <td>@Html.DisplayFor(modelItem => item.fRequiredDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.fTotal)</td>
                    <td>@Html.DisplayFor(modelItem => item.fType)</td>
                    <td>@Html.DisplayFor(modelItem => item.fStatus)</td>
                    <td>
                        <button type="button" class="detail btn btn-secondary mr-3" data-bs-toggle="modal" data-bs-target="#detailModal">
                            <i class="fas fa-bars"></i>
                        </button>
                        <button type="button" class="btn btn-secondary mr-3" data-bs-toggle="modal" data-bs-target="#orderModal">
                            <i class="fas fa-pen-nib"></i>
                        </button>
                        @Html.ActionLink("刪除", "delete", "Back_Orders", new { id = item.fId }, new { @class = "btn btn btn-danger mr-3", onclick = "return confirm('確定要刪除嗎')" })
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
<!-- orderModal -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top:10%">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">訂單修改 <span></span></h5>
            </div>
            <div class="modal-body">
                <form id="EditForm" name="EditForm">
                    <input type="hidden" name="fId" id="fId">
                    <div class="form-group">
                        <label for="fMemberName">會員姓名</label>
                        <input type="text" class="form-control" id="fMemberName" name="fMemberName" placeholder="會員姓名" style="border:1px solid gray" disabled>
                    </div>
                    <div class="form-group" style="margin-top:15px">
                        <label for="fRequiredDate">下單日期</label>
                        <input type="text" class="form-control" id="fRequiredDate" name="fRequiredDate" placeholder="下單日期" style="border:1px solid gray" disabled>
                    </div>
                    <div class="form-group" style="margin-top:15px">
                        <label for="fTotal">訂單金額</label>
                        <input type="text" class="form-control" id="fTotal" name="fTotal" placeholder="訂單金額" style="border:1px solid gray">
                    </div>
                    <div class="form-group" style="margin-top:15px">
                        <label for="fType">訂單類型</label>
                        <input type="text" class="form-control" id="fType" name="fType" placeholder="訂單類型" style="border:1px solid gray">
                    </div>
                    <div class="form-group" style="margin-top:15px">
                        <label for="fStatus">訂單狀態</label>
                        <select id="fStatus" name="fStatus">
                            <option value="1">未付款</option>
                            <option value="2">待出貨</option>
                            <option value="3">待完成</option>
                            <option value="4">已完成</option>
                            <option value="5">已取消</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-secondary" asp-action="Index">關閉</a>
                        <button class="btn btn-danger" id="btnsubmit">送出</button>
                    </div>
                    <div id="editresult">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- detailModal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top:10%">
    <div class="modal-dialog" role="document" style="max-width:950px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">訂單資訊</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="padding:0.5rem">序</th>
                            <th style="padding:0.5rem">商品名稱</th>
                            <th style="padding:0.5rem">單價</th>
                            <th style="padding:0.5rem">數量</th>
                            <th style="padding:0.5rem">總金額</th>
                        </tr>
                    </thead>
                    <tbody id="detailbody">
                    </tbody>
                </table>
                <p id="detailfrieght" style="margin: 5px; color: black;font-weight:400">運費:</p>
                <p id="detailtype" style="margin: 5px; color: black;font-weight:400">訂單類型:</p>
                <p id="detailprice" style="margin: 5px; color: black;font-weight:400">總金額:</p>
                <p id="detailwhere" style="margin: 5px; color: black;font-weight:400">運送地址:</p>
                <p id="detailwho" style="margin: 5px; color: black;font-weight:400">收件人:</p>
            </div>
            <div class="modal-footer">
                <button id="btnClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"></script>
    <script>
        $('#orders').DataTable({
            "language": {
                "lengthMenu": "顯示 _MENU_ 項結果",
                "paginate": {
                    "first": "第一頁",
                    "previous": "上一頁",
                    "next": "下一頁",
                    "last": "最後一頁"
                },
                "info": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
            },
            //設定參數
            scrollY: 465,
            lengthMenu: [25, 50, 100, 150]
        });


        //明細按鈕
        $("#orderBody").on('click','button:nth-child(1)',async function() {
            const OrderId = $(this).parents('tr').find('td:nth-child(2)').text();
            const Detailresponse = await fetch("@Url.Content("~/Back_Orders/OrderDeatil?Id=")" + OrderId);
            renderDeatil(await Detailresponse.json());
            const Otherresponse = await fetch("@Url.Content("~/Back_Orders/OrderOther?Id=")" + OrderId);
            renderOther(await Otherresponse.json());
        })
        function renderOther(datas) {
            $("#detailfrieght").html(`運費: ${datas.detailfrieght}`)
            $("#detailprice").html(`總金額: ${datas.detaliprice}`)
            $("#detailtype").html(`訂單類型: ${datas.detailtype}`)
            $("#detailwhere").html(`運送地址: ${datas.detailwhere}`)
            $("#detailwho").html(`收件人: ${datas.detailwho}`)
        }
        function renderDeatil(datas) {
            $("#detailbody").html("");
            var countdetail = 0;
            datas.forEach(item => {
                countdetail++;
                var tr = document.createElement("tr");
                //序
                var td1 = document.createElement("td");
                td1.innerHTML = countdetail;

                //商品名稱
                var td2 = document.createElement("td");
                td2.innerHTML = item.name;

                //單價
                var td3 = document.createElement("td");
                td3.innerHTML = item.price;

                //數量
                var td4 = document.createElement("td");
                td4.innerHTML = item.quantity;

                //總金額
                var td5 = document.createElement("td");
                td5.innerHTML = item.total;

                tr.append(td1,td2,td3,td4,td5);
                $("#detailbody").append(tr);
            })
        }

        //修改按鈕
        $("#orderBody").on('click', 'button:nth-child(2)', async function () {
            const OrderId = $(this).parents('tr').find('td:nth-child(2)').text();
            const Editresponse = await fetch("@Url.Content("~/Back_Orders/EditOrder?Id=")" + OrderId);
            renderEdit(await Editresponse.json());
        })
        $("#btnsubmit").on('click', (e) => {
            e.preventDefault();
            const formData = new FormData(document.EditForm);
            fetch("@Url.Content("~/Back_Orders/EditOrder")", {
                method: "post",
                body:formData
            }).then(response => response.text())
                .then(data => $("#editresult").html(data))
        })
        function renderEdit(datas) {
            $("#fId").val(datas.id);
            $("#fMemberName").val(datas.memberName);
            $("#fRequiredDate").val(datas.requiredDate);
            $("#fType").val(datas.type);
            $("#fTotal").val(datas.total);
            switch (datas.status) {
                case '未付款':
                    $("#fStatus").val(1);
                    break;
                case '待出貨':
                    $("#fStatus").val(2);
                    break;
                case '待完成':
                    $("#fStatus").val(3);
                    break;
                case '已完成':
                    $("#fStatus").val(4);
                    break;
                case '已取消':
                    $("#fStatus").val(5);
                    break;
            }
            //$("#fStatus").html(datas.status);
        }
    </script>
}