@model List<CategoriesModel>
@{

}
@section Scripts{
    <script>
        $(document).ready(function () {
            getProductList(1);
        });
        var categoryId = -1;
        var subCategoryId = -1;
        var pageSize = 9;
        var productName = "";
        var sortBy = 1;
        var CategoryName = "所有商品";
        var brandIds = [];


        function getProductList(page) {
            $.ajax({
                method: "POST",
                url: "/Front_Product/ProductList",
                data: {
                    SortBy: sortBy,
                    CategoryId: categoryId,
                    ProductName: productName,
                    SubCategoryId: subCategoryId,
                    BrandIds: brandIds,
                    Pagination: {
                        Page: page,
                        PageSize: pageSize
                    }
                },
                success: function (result) {
                    $("#currentCategoryName").text(CategoryName);
                    $("#productList").html(result);
                    $("#currentCategoryProductCount").text($("#totalRecord").val());
                    var displayStyle = $(".shop_toolbar_btn .active").data("role");
                    var displayStyleClass = "";
                    if (displayStyle == "grid_3") {
                        displayStyleClass = "col-lg-4 col-md-4 col-sm-6";
                    }
                    else {
                        displayStyleClass = "col-12";
                    }
                    $(".product").addClass(displayStyleClass);
                    $(".shop_wrapper").addClass(displayStyle);
                    window.scrollTo(0, 0);
                }
            });
        }

        function getPrjProductList(page) {
            $.ajax({
                method: "POST",
                url: "/Front_Product/PrjProductList",
                data: {
                    SortBy: sortBy,
                    Pagination: {
                        Page: page,
                        PageSize: pageSize
                    }
                },
                success: function (result) {
                    $("#currentCategoryName").text("募集");
                    $("#productList").html(result);
                    $("#currentCategoryProductCount").text($("#totalRecord").val());
                    var displayStyle = $(".shop_toolbar_btn .active").data("role");
                    var displayStyleClass = "";
                    if (displayStyle == "grid_3") {
                        displayStyleClass = "col-lg-4 col-md-4 col-sm-6";
                    }
                    else {
                        displayStyleClass = "col-12";
                    }
                    $(".product").addClass(displayStyleClass);
                    $(".shop_wrapper").addClass(displayStyle);
                    window.scrollTo(0, 0);
                }
            });
        }
        function changeSort() {
            sortBy = $("#sortByProduct").val();
            //console.log( sortBy );
            getProductList(1);
        }

        function clearAll() {
            categoryId = -1;
            subCategoryId = -1;
            productName = "";
            CategoryName = "所有商品";
            brandIds = [];
        }

        function clearAllBrandsCheckBox() {
            $(".chk-brand").prop("checked", false);
        }

        function getProductListWithCategory(id, name) {
            clearAll();
            clearAllBrandsCheckBox();
            categoryId = id;
            getProductList(1);
            CategoryName = name;
        }
        function getProductListWithSubCategory(id, name) {
            clearAll();
            clearAllBrandsCheckBox();
            subCategoryId = id;
            getProductList(1);
            CategoryName = name;
        }
        function getProductListWithProductName() {
            clearAll();
            clearAllBrandsCheckBox();
            productName = $("#searchProductName").val()
            getProductList(1);
        }

        function AddToCart(productId, productname, qty) {
            $.ajax({
                method: "POST",
                url: "/Front_Cart/AddToCart",
                data: {
                    id: productId,
                    qty: 1,
                },
                success: function (result) {
                    $('#CartMenu').html(result),
                        Swal.fire({
                            icon: 'success',
                            title: '商品已加入購物車',
                            text: productname + ' 數量 : 1',
                        })
                }
            });
        }

        function getProductListWithBrand() {
            clearAll();

            $.each($(".chk-brand"), function (i, item) {
                if ($(item).prop("checked")) {
                    brandIds.push($(item).val())
                }
            });
            getProductList(1);
        }

        function getAllPrjProducts() {
            clearAll();
            clearAllBrandsCheckBox();
            productName = $("").val()
            getPrjProductList(1);
        }




    </script>
}
<!-- Breadcrumb Area Start -->
<div class="section breadcrumb-area bg-name-bright">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-wrapper">
                    <h2 class="breadcrumb-title">寵物商品</h2>
                    <ul>
                        <li>
                            <a asp-controller="Front_Home">iPet寵物店</a>
                        </li>
                        <li>寵物商品</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Shop Section Start -->
<div class="section section-margin">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9 col-12">

                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper flex-column flex-md-row p-2 mb-8 border">

                    <!-- Shop Top Bar Left start -->
                    <div class="shop-top-bar-left">

                        <div class="shop_toolbar_btn">
                            <button data-role="grid_3" type="button" class="active btn-grid-3" title="Grid"><i class="ti-layout-grid4-alt"></i></button>
                            <button data-role="grid_list" type="button" class="btn-list" title="List"><i class="ti-align-justify"></i></button>
                        </div>
                        <div class="shop-top-show">
                            <span id="currentCategoryName"></span> (
                            <span id="currentCategoryProductCount"></span>)
                        </div>

                    </div>
                    <!-- Shop Top Bar Left end -->
                    <!-- Shopt Top Bar Right Start -->
                    <div class="shop-top-bar-right">

                        <h4 class="title me-2">排序： </h4>

                        <div class="shop-short-by">
                            <select class="nice-select" aria-label=".form-select-sm example" onchange="changeSort()" id="sortByProduct">
                                <option value="1">依預設</option>
                                <option value="2">價錢(高至低)</option>
                                <option value="3">價錢(低至高)</option>
                                <option value="4">商品評價(高至低)</option>
                                <option value="5">商品評價(低至高)</option>
                            </select>
                        </div>
                    </div>
                    <!-- Shopt Top Bar Right End -->

                </div>
                <!--shop toolbar end-->

                <div id="productList">
                </div>



            </div>
            <div class="col-lg-3 col-12">
                <!-- Sidebar Widget Start -->
                <aside class="sidebar_widget m-t-50 mt-lg-0">
                    <div class="widget_inner">
                        <div class="widget-list m-b-50">
                            <h3 class="widget-title m-b-30">搜尋本商店</h3>
                            <div class="search-box">
                                <input type="text" class="form-control" placeholder="商品名稱" aria-label="Search Our Store" id="searchProductName">
                                <button class="search-icon" type="button" onclick="getProductListWithProductName()">
                                    <i class="icon-magnifier"></i>
                                </button>
                            </div>
                        </div>
                        <!--商品分類Collpase Start-->

                        <div class="container">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <h3 class="widget-title m-b-30">商品分類</h3>
                                    <div class="sidebar-body">
                                        <h5>
                                            <a href="#" onclick="getProductListWithCategory(-1)">所有商品 (@Model.Sum(c => c.ProductCount))</a>
                                        </h5>
                                        <div data-collapse="accordion">
                                            @foreach (var category in Model)
                                            {
                                                <h5>
                                                    <a onclick="getProductListWithCategory(@category.CategoryId,'@category.CategoryName')">@category.CategoryName (@category.ProductCount)</a>
                                                </h5>
                                                <ul class="sidebar-list">

                                                    @foreach (var subCategory in category.SubCategories)
                                                    {
                                                        <li>
                                                            <a href="#/" onclick="getProductListWithSubCategory(@subCategory.SubCategoryId,'@subCategory.SubCategoryName')">@subCategory.SubCategoryName</a>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                            <h5>
                                                <a href="#" onclick="getAllPrjProducts()">正在募集商品 (@ViewBag.PrjProductCount)</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--商品分類Collpase End-->
                        <div class="widget-list m-b-50">
                            <h3 class="widget-title m-b-30">品牌</h3>
                            <div class="sidebar-body">
                                <ul class="checkbox-container categories-list">
                                    @foreach (var brand in (List<BrandModel>)ViewBag.Brands)
                                    {
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class=" chk-brand" id="chk-brand-@brand.BrandID" onclick="getProductListWithBrand()" value="@brand.BrandID">
                                                <label class="custom-control-label" for="chk-brand-@brand.BrandID">@brand.BrandName</label>
                                            </div>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>
                        <div class="widget-list m-b-50">
                            <h3 class="widget-title m-b-30">標籤</h3>
                            <div class="sidebar-body">
                                <ul class="tags m-b-n10">
                                    <li>
                                        <a href="#/" onclick="getProductListWithCategory(2,'寵物罐罐')">精選罐罐</a>
                                    </li>
                                    <li>
                                        <a href="#/" onclick="getProductListWithCategory(8,'環境清潔')">防疫專區</a>
                                    </li>
                                    <li>
                                        <a href="#/" onclick="getProductListWithCategory(13,'捐贈商品')">愛心專區</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget-list">
                            <h3 class="widget-title m-b-30">最新上架</h3>
                            <div class="sidebar-body product-list-wrapper m-b-n30">

                                <!-- Single Product List Start -->
                                <div class="single-product-list m-b-30">

                                    <!-- Product List Thumb Start -->
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="single-product.html" class="image">
                                                <img class="fit-image first-image" src="~/Front/images/products/small-product/1.png" alt="Product Image">
                                            </a>
                                        </div>
                                    </div>
                                    <!-- Product List Thumb End -->
                                    <!-- Product List Content Start -->
                                    <div class="product-list-content">
                                        <h6 class="product-name">
                                            <a href="single-product.html">Pet Leaving House</a>
                                        </h6>
                                        <span class="price">
                                            <span class="new">$12.50</span>
                                            <span class="old">$15.85</span>
                                        </span>
                                    </div>
                                    <!-- Product List Content End -->

                                </div>
                                <!-- Single Product List End -->
                                <!-- Single Product List Start -->
                                <div class="single-product-list m-b-30">

                                    <!-- Product List Thumb Start -->
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="single-product.html" class="image">
                                                <img class="fit-image first-image" src="~/Front/images/products/small-product/1.png" alt="Product Image">
                                            </a>
                                        </div>
                                    </div>
                                    <!-- Product List Thumb End -->
                                    <!-- Product List Content Start -->
                                    <div class="product-list-content">
                                        <h6 class="product-name">
                                            <a href="single-product.html">This is the testing</a>
                                        </h6>
                                        <span class="price">
                                            <span class="new">$10.50</span>
                                            <span class="old">$12.85</span>
                                        </span>
                                    </div>
                                    <!-- Product List Content End -->

                                </div>
                                <!-- Single Product List End -->
                                <!-- Single Product List Start -->
                                <div class="single-product-list m-b-30">

                                    <!-- Product List Thumb Start -->
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="single-product.html" class="image">
                                                <img class="fit-image first-image" src="~/Front/images/products/small-product/1.png" alt="Product Image">
                                            </a>
                                        </div>
                                    </div>
                                    <!-- Product List Thumb End -->
                                    <!-- Product List Content Start -->
                                    <div class="product-list-content">
                                        <h6 class="product-name">
                                            <a href="single-product.html">Animals for life</a>
                                        </h6>
                                        <span class="price">
                                            <span class="new">$22.50</span>
                                            <span class="old">$25.85</span>
                                        </span>
                                    </div>
                                    <!-- Product List Content End -->

                                </div>
                                <!-- Single Product List End -->

                            </div>
                        </div>
                    </div>
                </aside>
                <!-- Sidebar Widget End -->
            </div>
        </div>
    </div>
</div>
<!-- Shop Section End -->
