@model ProductListResponseModel
@{
    Layout = null;
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#AddProductGrid").click(AddToCart);
            $("#AddProductList").click(AddToCart);
        });
    </script>
}

<!-- Shop Wrapper Start -->
<div class="row shop_wrapper">
    @foreach (var product in Model.ProductList)
    {
        <!-- Single Product Start -->
        <div class="product">
            <div class="product-inner">
                <div class="thumb">
                    <a class="image" asp-controller="Front_Product" asp-action="ProductDetail" asp-route-id="@product.ProductID">
                        <img class="fit-image" src="@product.ProductImageBase64String" alt="Product">
                    </a>
                    <span class="badges">
                        <span class="sale">-0%</span>
                    </span>
                    <div class="action-wrapper">
                        <a href="#/" class="action quickview" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quickview"><i class="ti-plus"></i></a>
                        <a href="wishlist.html" class="action wishlist" title="Wishlist"><i class="ti-heart"></i></a>
                        <a id="AddProductGrid" onclick="AddToCart('@product.ProductID')" href="javascript:void(0);" class="action cart" title="Cart"><i class="ti-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="content">
                    <h5 class="title"><a href="single-product.html">@product.ProductName</a></h5>
                    <h2 class="title"><a href="single-product.html">@product.BrandName</a></h2>
                    <span class="rating">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                    <span class="price">
                        <span class="new">$@product.UnitPrice</span>
                        <span class="old">$@product.UnitPrice</span>
                    </span>
                    <p>@product.Description</p>
                    <!-- Cart Button Start -->
                    <div class="cart-btn action-btn">
                        <div class="action-cart-btn-wrapper d-flex">
                            <div class="add-to_cart">
                                <a id="AddProductList" class="btn btn-primary btn-hover-dark rounded-0" onclick="AddToCart('@product.ProductID')" href="javascript:void(0);">加入購物車</a>
                            </div>
                            <a href="wishlist.html" title="Wishlist" class="action"><i class="ti-heart"></i></a>
                            <a href="#/" class="action quickview" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quickview"><i class="ti-plus"></i></a>
                        </div>
                    </div>
                    <!-- Cart Button End -->
                </div>
            </div>
        </div>
        <!-- Single Product End -->
    }
</div>
<!-- Shop Wrapper End -->

<div class="shop_toolbar_wrapper justify-content-center m-t-50">
    <!-- Shopt Top Bar Right Start -->
    <div class="shop-top-bar-right">
        <nav>
            <ul class="pagination">
                @{
                    int startPage = 0;
                    int endPage = 0;
                    if (Model.Pagination.TotalPage < 9)
                    {
                        startPage = 1;
                        endPage = Model.Pagination.TotalPage;
                    }
                    else if (Model.Pagination.Page > 4 && Model.Pagination.Page < Model.Pagination.TotalPage - 3)
                    {
                        startPage = Model.Pagination.Page - 4;
                        endPage = Model.Pagination.Page + 4;
                    }
                    else if (Model.Pagination.Page >= Model.Pagination.TotalPage - 3)
                    {
                        startPage = Model.Pagination.TotalPage - 8;
                        endPage = Model.Pagination.TotalPage;
                    }
                    else
                    {
                        startPage = 1;
                        endPage = 9;
                    }

                    @if (Model.Pagination.Page > 1)
                    {
                        <li class="page-item">
                            <a class="page-link rounded-0" onclick="getProductList(@(Model.Pagination.Page -1) )" href="#/" aria-label="Prev">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                    }

                    for (int i = startPage; i <= endPage; i++)
                    {
                        <li class="page-item">
                            @if (i == Model.Pagination.Page)
                            {
                                <a class="page-link active" onclick="getProductList(@i)" href="#">@i</a>
                            }
                            else
                            {
                                <a class="page-link" onclick="getProductList(@i)" href="#">@i</a>
                            }
                        </li>
                    }
                }
                @if (Model.Pagination.Page < Model.Pagination.TotalPage)
                {
                    <li class="page-item">
                        <a class="page-link rounded-0" onclick="getProductList(@(Model.Pagination.Page + 1) )" href="#/" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                }

            </ul>
        </nav>
    </div>
    <!-- Shopt Top Bar Right End -->
</div>
