@model IEnumerable<Project_IPET.ViewModels.CFrontWishListViewModel>

<table class="table table-hover">
    <thead>
        <tr>
            <td>序號</td>
            <td>商品名稱</td>
            <td>商品價格</td>
            <td>平均星數</td>
            <td>庫存量</td>
            <td>檢視</td>
            <td>加入購物車</td>
            <td>移除</td>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <input type="hidden" name="FavoriteId" value="@Html.DisplayFor(modelItem => item.FavoriteId)"/>
                    <input type="hidden" name="ProductId" value="@Html.DisplayFor(modelItem => item.ProductId)"/>
                    <td>@count</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductPrice)</td>
                    <td>
                        <span class="rating">
                            @if (item.Ranking == null || item.Ranking == 0)
                            {
                                @for (int i = 0; i < 5; i++)
                                {
                                    <i class="fa fa-star-o"></i>
                                }
                            }
                            else
                            {
                                @for (int i = 1; i <= item.Ranking; i++)
                                {
                                    <i class="fa fa-star text-warning"></i>
                                }
                                if (item.Ranking % 1 > 0)
                                {
                                    <i class="fa fa-star-half text-warning"></i>
                                    if (item.Ranking < 4)
                                    {
                                        @for (int i = 1; i <= (5 - (item.Ranking)); i++)
                                        {
                                            <i class="fa fa-star-o"></i>
                                        }
                                    }
                                }
                                else
                                {
                                    @for (int i = 1; i <= (5 - item.Ranking); i++)
                                    {
                                        <i class="fa fa-star-o"></i>
                                    }
                                }
                            }
                        </span>
                    </td>
                    @if (item.Quantity > 0)
                    {
                        <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    }
                    else
                    {
                        <td>0</td>
                    }
                <td>
                    <button type="button" class="btn btn-primary fa fa-eye" 
                            onclick="location.href = '@Url.Action("ProductDetail","Front_Product",new { id=item.ProductId })'"></button>
                </td>
                    @if (item.Quantity > 0)
                    {
                        <td><button type="button" class="btn btn-primary fa-solid fa-cart-shopping" onclick="WishListAddCart('@item.ProductId')"></button></td>
                    }
                    else
                    {
                        <td><button type="button" class="btn btn-primary fa-solid fa-cart-shopping" disabled></button></td>
                    }
                    <td><button type="button" class="btn btn-primary fa fa-ban" onclick="WishListDelete('@item.FavoriteId')"></button></td>
                </tr>
            }
        }
    </tbody>
</table>


<script>

    function WishListAddCart(productId, qty) {
        $.post(
            '@Url.Content("~/Front_Cart/AddToCart")',
            { id: productId, qty: 1 },
            function (response) {
                window.location.href = "/Front_Cart/Index";
            })
    }

    function WishListDelete(favoriteId) {
        $.post('@Url.Content("~/Front_Myaccount/MyWishListDelete")',
            { id: favoriteId},
            function (response) {
                window.location.href = "/Front_Myaccount/Index";
            })
        }

</script>