@model IEnumerable<Project_IPET.ViewModels.CFrontWishListViewModel>

<table class="table table-hover">
    <thead>
        <tr>
            <td>序號</td>
            <td>商品名稱</td>
            <td>商品價格</td>
            <td>平均星數</td>
            <td>庫存量</td>
            <td>檢視</td>
            <td>加入購物車</td>
            <td>移除</td>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <input type="hidden" name="FavoriteId" value="@Html.DisplayFor(modelItem => item.FavoriteId)"/>
                    <input type="hidden" name="ProductId" value="@Html.DisplayFor(modelItem => item.ProductId)"/>
                    <td>@count</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductPrice)</td>
                    <td>
                        @for (int i = 0; i < 5; i++)
                        {
                            <i class="fa fa-star-o Ranking"></i>
                        }
                    </td>
                    @if (item.Quantity > 0)
                    {
                        <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    }
                    else
                    {
                        <td>0</td>
                    }
                    <td><button type="button" class="btn btn-primary fa fa-eye" onclick="WishListViewDetails()"></button></td>
                    <td><button type="button" class="btn btn-primary fa-solid fa-cart-shopping" onclick="WishListAddCart()"></button></td>
                    <td><button type="button" class="btn btn-primary fa fa-ban" onclick="WishListDelete()"></button></td>
                </tr>
            }
        }
    </tbody>
</table>


<script>
    let product = @ViewBag.PRODUCT;

    GetProductRating(product);

    function GetProductRating(product)
    {
         $.post('@Url.Content("~/Back_Comment/GetProductRating")',
             {productname:product},
             function(response)
             {
                 averagerating = response[0];
                 totalcommentcount = response[1];

                 let maxnumber = 0;

                 for (i = 0; i <= averagerating - 1; i++) {
                     $(".Ranking").eq(i).removeClass("fa fa-star-o").addClass("fa fa-star").css("font-size", "1.2em");
                     if (i > maxnumber) {
                         maxnumber = i;
                     }
                 }
                 if ((averagerating % 1) != 0) {
                     $(".Ranking").eq(maxnumber + 1).removeClass("fa fa-star-o").addClass("fa fa-star-half-o");
                 }
             }
          )
    }

     function WishListViewDetails() {
        $.post('@Url.Content("~//")',
            function (response) {

            })
    }

    function WishListAddCart() {
        let productId = $("input[name=ProductId]").val();
        console.log(productId);
        $.post('@Url.Content("~/Front_Myaccount/MyWishListAddCart")?id=' + productId,
            function (response) {
                console.log(response[0]);
            })
    }

    function WishListDelete() {
        let favoriteId = $("input[name=FavoriteId]").val();
        console.log(favoriteId);
        $.post('@Url.Content("~/Front_Myaccount/MyWishListDelete")?id=' + favoriteId,
            function (response) {
                console.log(response[0]);
            })
        }





</script>