@model IEnumerable<Project_IPET.Models.CartModel>

<div class="section breadcrumb-area bg-name-bright">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-wrapper">
                    <h2 class="breadcrumb-title">購物車</h2>
                    <ul>
                        <li><a asp-controller="Front_Home">IPET 寵物店</a></li>
                        <li>購物車</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-margin">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="cart-table table-responsive">
                    @if (Model != null)
                    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="pro-thumbnail">商品照片</th>
                    <th class="pro-price">商品分類</th>
                    <th class="pro-title">商品名稱</th>
                    <th class="pro-price">商品價格</th>
                    <th class="pro-quantity">商品數量</th>
                    <th class="pro-subtotal">金額</th>
                    <th class="pro-remove">移除商品</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
<tbody>
    <tr>
        <td class="pro-thumbnail"><a href="#"><img class="fit-image" src=@Html.DisplayFor(modelItem => item.imageSrc) /></a></td>
        <td class="pro-price"><span>  @Html.DisplayFor(modelItem => item.Category)</span></td>
        <td class="pro-title"><a href="#">  @Html.DisplayFor(modelItem => item.Product.ProductName)</a></td>
        <td class="pro-price"><span> @Html.DisplayFor(modelItem => item.Product.UnitPrice)</span></td>
        <td class="pro-quantity">
            <div class="quantity">
                <div class="cart-plus-minus">
                    <input class="cart-plus-minus-box" value="@Html.DisplayFor(modelItem => item.Quantity)" type="text">
                    <div class="dec qtybutton">-</div>
                    <div class="inc qtybutton">+</div>
                </div>
            </div>
        </td>
        <td class="pro-subtotal"><span>@Html.DisplayFor(modelItem => item.SubTotal)</span></td>
        <td class="pro-remove"><a asp-action="RemoveItem" asp-route-Id="@item.ProductID"><i class="ti-trash"></i></a></td>
    </tr>
</tbody>}
        </table>}
                </div>

                <div class="cart-button-section m-b-n20">
                    <div class="cart-btn-lef-side m-b-20">
                        <a asp-controller="Front_product" asp-action="index" class="btn btn btn-gray-deep btn-hover-primary">繼 續 購 物</a>
                    </div>

                    <div class="cart-btn-right-right m-b-20">
                        <a asp-action="RemoveAll" class="btn btn btn-gray-deep btn-hover-primary">清 空 購 物 車</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-t-50">
            <div class="col-lg-6 me-0 ms-auto">
                <div class="cart-calculator-wrapper">
                    <div class="cart-calculate-items">
                        <h3 class="title">購 物 車 明 細</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td>商品數 (種類)</td>
                                    <td> @ViewBag.Count</td>
                                </tr>
                                <tr>
                                    <td>總金額</td>
                                    <td>@ViewBag.Total</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <a asp-controller="Front_Checkout" asp-action="index" class="btn btn btn-gray-deep btn-hover-primary m-t-30">前 往 結 帳</a>
                </div>
            </div>
        </div>

    </div>
</div>